<section class="footer-dark">
    <div class="footer_oben_wrapper">
      <a href="{{ routes.root_url }}" aria-current="page" class="footer_section w-inline-block w--current">
        <div class="logo_prinjekt_svg w-embed"><svg width="100" height="50" viewBox="0 0 3224 1014" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M375 274.5C384.6 67.3 236.333 6.5 161 2H429.5V775H1V506.5C121.667 515.5 365.4 481.7 375 274.5Z" fill="currentcolor"></path>
            <path d="M1 364V134.5C65.5 121.667 197.3 125.9 208.5 245.5C219.7 365.1 74.8333 374.333 1 364Z" fill="currentcolor"></path>
            <path d="M597 345.5V136C664.333 129.167 800.1 141.5 804.5 245.5C808.9 349.5 668 355.5 597 345.5Z" fill="currentcolor"></path>
            <path d="M687.5 482.5H597V775H870L687.5 482.5Z" fill="currentcolor"></path>
            <path d="M1052.5 775L830.5 442L844 435.5C867.167 428.667 969.564 375.5 972.5 231C976.1 53.8 819.333 4.5 740.5 2H1113.5V775H1052.5Z" fill="currentcolor"></path>
            <path d="M1280.5 775V2H1331.5H1672.5V506.5L1331.5 2V263.5L1672.5 783L1280.5 775Z" fill="currentcolor"></path>
            <path d="M1331.5 2V263.5L1672.5 783L1280.5 775V2H1331.5ZM1331.5 2H1672.5V506.5L1331.5 2ZM161 2C236.333 6.5 384.6 67.3 375 274.5C365.4 481.7 121.667 515.5 1 506.5V775H429.5V2H161ZM1 134.5V364C74.8333 374.333 219.7 365.1 208.5 245.5C197.3 125.9 65.5 121.667 1 134.5ZM597 136V345.5C668 355.5 808.9 349.5 804.5 245.5C800.1 141.5 664.333 129.167 597 136ZM597 482.5H687.5L870 775H597V482.5ZM830.5 442L1052.5 775H1113.5V2H740.5C819.333 4.5 976.1 53.8 972.5 231C969.564 375.5 867.167 428.667 844 435.5L830.5 442Z" stroke="currentcolor"></path>
            <path d="M1113.5 778V2.5H1279.5V778H1113.5Z" fill="#F59F27"></path>
            <path d="M1332 265.5V2.5L1673.5 508V778L1332 265.5Z" fill="#F59F27"></path>
            <path d="M1747 778V2.5H1911.5V778C1906.83 824.167 1881.3 928.4 1816.5 976C1751.7 1023.6 1623.5 1015.17 1567.5 1005V873.5C1583 875.833 1625.9 879.1 1673.5 873.5C1721.1 867.9 1742.33 807.5 1747 778Z" fill="#F59F27"></path>
            <path d="M2244 2.5H1968V136H2244V2.5Z" fill="#F59F27"></path>
            <path d="M2225.5 308H1968V445.5H2225.5V308Z" fill="#F59F27"></path>
            <path d="M1968 778V648H2244V778H1968Z" fill="#F59F27"></path>
            <path d="M2779 778H2588.5L2384.5 454L2313.5 508V357L2588.5 2.5H2779L2504.5 348.5L2779 778Z" fill="#F59F27"></path>
            <path d="M3221.5 2.5H2860V778H3009V143H3223L3221.5 2.5Z" fill="#F59F27"></path>
            <path d="M1113.5 778V2.5H1279.5V778H1113.5Z" stroke="#F59F27"></path>
            <path d="M1332 265.5V2.5L1673.5 508V778L1332 265.5Z" stroke="#F59F27"></path>
            <path d="M1747 778V2.5H1911.5V778C1906.83 824.167 1881.3 928.4 1816.5 976C1751.7 1023.6 1623.5 1015.17 1567.5 1005V873.5C1583 875.833 1625.9 879.1 1673.5 873.5C1721.1 867.9 1742.33 807.5 1747 778Z" stroke="#F59F27"></path>
            <path d="M2244 2.5H1968V136H2244V2.5Z" stroke="#F59F27"></path>
            <path d="M2225.5 308H1968V445.5H2225.5V308Z" stroke="#F59F27"></path>
            <path d="M1968 778V648H2244V778H1968Z" stroke="#F59F27"></path>
            <path d="M2779 778H2588.5L2384.5 454L2313.5 508V357L2588.5 2.5H2779L2504.5 348.5L2779 778Z" stroke="#F59F27"></path>
            <path d="M3221.5 2.5H2860V778H3009V143H3223L3221.5 2.5Z" stroke="#F59F27"></path>
          </svg></div>
      </a>
      <div class="footer_section">
        <div class="heading_h4">{{ 'tn2be4baf6' | t }}</div>
        <div class="menu_footer">
          <a href="{{ pages["agb"].url }}" class="footer_link mitte">{{ 'tfcdc' | t }}</a>
          <a href="{{ pages["datenschutz"].url }}" class="footer_link mitte">{{ 'tn14b75991' | t }}</a>
          <a href="{{ pages["impressum"].url }}" class="footer_link mitte">{{ 't6f6b7057' | t }}</a>
        </div>
      </div>
      <div class="footer_section">
        <div class="heading_h4">{{ 'tn4e11556a' | t }}</div>
        <div class="menu_footer">
          <a href="{{ pages["versand"].url }}" class="footer_link mitte">{{ 't782d9687' | t }}</a>
          <a href="{{ pages["widerrufsbelehrung"].url }}" class="footer_link mitte">{{ 'tn6b5769a7' | t }}</a>
          <a href="{{ pages["zahlungsarten"].url }}" class="footer_link mitte">{{ 'tn37481204' | t }}</a>
        </div>
      </div>
      <div class="footer_section">
        <div class="heading_h4">{{ 'tn5d6ed7e1' | t }}</div>
        <div class="menu_footer">
          <a href="{{ pages["leistungen"].url }}" class="footer_link mitte">{{ 't302bdc66' | t }}</a>
          <a href="{{ pages["materialubersicht"].url }}" class="footer_link mitte">{{ 'tn39693501' | t }}</a>
        </div>
      </div>
      <div class="footer_section">
        <div class="heading_h4">{{ 't31f2f489' | t }}</div>
        <div class="menu_footer">
          <a href="tel:+4951015991784" class="footer_link">{{ 't6fc0bad8' | t }}</a>
          <a href="mailto:support@prinjekt.de" class="footer_link">{{ 'tn44cb4e92' | t }}</a>
        </div>
      </div>
    </div>
    <div class="divider_wrapper footer"></div>
    <div class="social_media_wrapper">
      <a href="https://www.instagram.com/prinjekt_de/" target="_blank" class="w-inline-block"><img src="{{ 'instagram-logo.webp' | asset_url }}" loading="lazy" width="20" alt="Instagram_Prinjekt" class="social_media_icon"></a>
      <a href="https://www.facebook.com/Prinjekt/" class="w-inline-block"><img src="{{ 'facebook-logo.webp' | asset_url }}" loading="lazy" width="20" alt="Prinjekt_Facebook" class="social_media_icon"></a>
      <a href="https://www.linkedin.com/company/prinjekt/" target="_blank" class="w-inline-block"><img src="{{ 'linkedin_prinjekt.webp' | asset_url }}" loading="lazy" width="20" alt="Prinjekt_linekdIN" class="social_media_icon"></a>
    </div>
    <div class="footer-copyright-center">{{ 't62f409ba' | t }}</div>
  </section>