<div class="language_section">
    <div class="language_unten">
      <div data-w-id="f6c4d385-27e4-beea-fd52-e1e49dcddfc8" class="language_wrapper_img">
        <div class="wrapper_language_popup">
          <div class="w-locales-list">
            <div role="list" class="w-locales-items">
              <div role="listitem" class="locale w-locales-item">
                <a hreflang="de" href="{{ routes.root_url }}" aria-current="page" class="link_language">{{ 'tn3fd796e8' | t }}</a>
              </div>
              <div role="listitem" class="locale w-locales-item">
                <a hreflang="en" href="{{ routes.root_url }}" aria-current="page" class="link_language">{{ 't3a13250' | t }}</a>
              </div>
            </div>
          </div>
        </div>
        <div class="loc_button">
          <div class="text_language">{{ 't881' | t }}</div>
        </div>
      </div>
    </div>
  </div>