<div class="logo_carousel_wrapper">
      <div class="logo_carousel_left">
        <div class="text_mittel">{{ 't37981440' | t }}</div>
      </div>
      <div class="logo_carousel_right">
        <div class="card">
          <div lumious-ticker-speed="25" lumious-ticker="true" class="ticker has-horizontal-fade">
            <div lumious-ticker-content="true" class="ticker-content"><img src="{{ 'work_fraunhofer.webp' | asset_url }}" loading="lazy" width="100" height="40" alt="Kunden von Prinjekt" class="ticker-logo"><img src="{{ 'work_vodafone.webp' | asset_url }}" loading="lazy" width="53" height="40" alt="Wir fertigen 3D-Druck als Einzelaufträge an " class="ticker-logo"><img src="{{ 'work_continental.webp' | asset_url }}" loading="lazy" width="182" height="40" alt="Nebem EInzelanfertigungen machen wir auch noch Serienanfertigungen für Großkunden" class="ticker-logo"><img src="{{ 'work_craftcloud.webp' | asset_url }}" loading="lazy" width="52" height="40" alt="Hochwertiger 3D-Druck aus Hannover" class="ticker-logo"><img src="{{ 'work_leibniz_universitat_1.webp' | asset_url }}" loading="lazy" width="40" height="40" alt="3D-Druck für jedes Format" class="ticker-logo"><img src="{{ 'work_university_plymouth.webp' | asset_url }}" loading="lazy" width="213" height="40" alt="Wir machen hochwertigen 3D-Druck" class="ticker-logo"><img src="{{ 'work_hochschule_hannover.webp' | asset_url }}" loading="lazy" width="97" height="40" alt="Zahlreiche Kunden vertrauen auf unseren 3D-Druck" class="ticker-logo"><img src="{{ 'work_bric.webp' | asset_url }}" loading="lazy" width="97" height="40" alt="Wir drucken alles für Sie" class="ticker-logo"></div>
          </div>
        </div>
      </div>
    </div>