<div class="mobile-nav-2">
    <div class="m-nav-toggle-2">
      <div data-w-id="ffd77d4d-2dd2-075e-7436-747235acda2e" class="navbar_mob_close">
        <a data-w-id="77567dd5-625a-b221-c4b0-5bd366cb3b8e" href="#" class="m-nav-toggle-close w-inline-block">
          <div class="m-nav-toggle-inner-2 close">
            <div class="m-nav-close-icon-wrapper">
              <div class="close_menu_nav w-embed"><svg width="30" height="30" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M18 6L6 18" stroke="currentcolor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M6 6L18 18" stroke="currentcolor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg></div>
            </div>
          </div>
        </a>
      </div>
      <div class="navbar_mob">
        <div data-w-id="77567dd5-625a-b221-c4b0-5bd366cb3b93" class="m-nav-toggle-inner-2">
          <p class="m-nav-toggle-description-2">{{ 't248a06' | t }}</p>
        </div>
        <div class="inhalt_header_rechts">
          <a href="#" class="link_header_icon out w-inline-block">
            <div class="header_icon w-embed"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.99976 14.5C1.99976 16.9853 4.01447 19 6.49976 19H18.4998C20.4328 19 21.9998 17.433 21.9998 15.5C21.9998 13.7367 20.6959 12.278 18.9997 12.0354C19.0087 10.2322 18.3253 8.4261 16.9495 7.05025C14.2158 4.31658 9.78368 4.31658 7.05001 7.05025C6.15066 7.9496 5.54719 9.03278 5.23959 10.1788C3.36766 10.7238 1.99976 12.4522 1.99976 14.5Z" stroke="currentcolor" stroke-linejoin="round"></path>
                <path d="M14 11L12 9M12 9L10 11M12 9L12 15" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg></div>
          </a>
          <a href="#" class="link_header_icon out w-inline-block">
            <div class="header_icon w-embed"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="17" cy="7" r="3" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round"></circle>
                <circle cx="7" cy="17" r="3" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round"></circle>
                <path d="M14 14H20V19C20 19.5523 19.5523 20 19 20H15C14.4477 20 14 19.5523 14 19V14Z" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M4 4H10V9C10 9.55228 9.55228 10 9 10H5C4.44772 10 4 9.55228 4 9V4Z" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg></div>
          </a>
          <a href="#" class="link_header_icon out w-inline-block">
            <div class="header_icon w-embed"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M3 2.5C2.72386 2.5 2.5 2.72386 2.5 3C2.5 3.27614 2.72386 3.5 3 3.5V2.5ZM5 3L5.49853 2.96165C5.47849 2.70115 5.26127 2.5 5 2.5V3ZM21 6L21.4969 6.05522C21.5126 5.91386 21.4674 5.77251 21.3726 5.66654C21.2777 5.56057 21.1422 5.5 21 5.5V6ZM5.23077 6L4.73224 6.03835L4.73224 6.03835L5.23077 6ZM18.3387 15.1187L18.3743 15.6174L18.3387 15.1187ZM7.98405 15.8583L7.94842 15.3596L7.98405 15.8583ZM3 3.5H5V2.5H3V3.5ZM8.01967 16.357L18.3743 15.6174L18.303 14.6199L7.94842 15.3596L8.01967 16.357ZM20.6809 13.3998L21.4969 6.05522L20.5031 5.94478L19.687 13.2894L20.6809 13.3998ZM4.50147 3.03835L4.73224 6.03835L5.7293 5.96165L5.49853 2.96165L4.50147 3.03835ZM4.73224 6.03835L5.34892 14.0551L6.34597 13.9784L5.7293 5.96165L4.73224 6.03835ZM21 5.5H5.23077V6.5H21V5.5ZM18.3743 15.6174C19.5774 15.5315 20.5477 14.5987 20.6809 13.3998L19.687 13.2894C19.6071 14.0087 19.0249 14.5684 18.303 14.6199L18.3743 15.6174ZM7.94842 15.3596C7.12529 15.4183 6.40926 14.8012 6.34597 13.9784L5.34892 14.0551C5.4544 15.4264 6.64779 16.455 8.01967 16.357L7.94842 15.3596Z" fill="currentcolor"></path>
                <rect x="8.5" y="19.5" width="0.01" height="0.01" stroke="currentcolor" stroke-width="1.5" stroke-linejoin="round"></rect>
                <rect x="17.5" y="19.5" width="0.01" height="0.01" stroke="currentcolor" stroke-width="1.5" stroke-linejoin="round"></rect>
              </svg></div>
          </a>
          <a href="#" class="link_header_icon out w-inline-block">
            <div class="header_icon w-embed"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9 4H19V18C19 19.1046 18.1046 20 17 20H9" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M12 15L15 12M15 12L12 9M15 12H5" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg></div>
          </a>
          <div class="language_section_phone out">
            <div class="language_unten_phone">
              <div data-w-id="8fb372e2-38c1-b170-4812-dd9cc9b992cb" class="language_wrapper_phone"><img src="{{ 'englisch_prinjekt_1.webp' | asset_url }}" loading="lazy" alt="We produce 3D printing in Hannover" class="img_language_phone_en"><img src="{{ 'deutsch_prinjekt_1.webp' | asset_url }}" loading="lazy" alt="Hochwertiger 3D-Druck aus Deutschland" class="img_language_phone_de"></div>
            </div>
          </div>
          <a href="{{ pages["3d-druck"].url }}" class="text-nav">{{ 'tn2f7eee66' | t }}</a>
        </div>
      </div>
    </div>
    <nav class="m-nav-overlay-2">
      <div class="light_mode_wrapper">
        <a tr-color-toggle="" href="#" class="toggle_wrap w-inline-block">
          <div class="code_light_mode_switch w-embed"><svg width="100%" height="100%" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="12" cy="12" r="3.5" stroke="currentcolor"></circle>
              <path d="M12 5V3" stroke="currentcolor" stroke-linecap="round"></path>
              <path d="M12 21V19" stroke="currentcolor" stroke-linecap="round"></path>
              <path d="M16.9498 7.04996L18.364 5.63574" stroke="currentcolor" stroke-linecap="round"></path>
              <path d="M5.63608 18.3644L7.05029 16.9502" stroke="currentcolor" stroke-linecap="round"></path>
              <path d="M19 12L21 12" stroke="currentcolor" stroke-linecap="round"></path>
              <path d="M3 12L5 12" stroke="currentcolor" stroke-linecap="round"></path>
              <path d="M16.9498 16.95L18.364 18.3643" stroke="currentcolor" stroke-linecap="round"></path>
              <path d="M5.63608 5.63559L7.05029 7.0498" stroke="currentcolor" stroke-linecap="round"></path>
            </svg></div>
        </a>
      </div>
      <div class="nav-overlay-gradient-top"></div>
      <div class="nav-overlay-gradient-bottom"></div>
      <div class="m-nav-content-2">
        <ul role="list" class="m-nav-list w-list-unstyled">
          <li class="m-nav-link-item first-item">
            <a href="{{ routes.root_url }}" aria-current="page" class="m-nav-link-2 w--current">{{ 't2268ff' | t }}</a>
          </li>
          <li class="m-nav-link-item">
            <a href="{{ pages["about"].url }}" class="m-nav-link-2">{{ 't3c2336d' | t }}</a>
          </li>
          <li class="m-nav-link-item">
            <a href="{{ pages["leistungen"].url }}" class="m-nav-link-2">{{ 't302bdc66' | t }}</a>
          </li>
          <li class="m-nav-link-item">
            <a href="{{ pages["materialubersicht"].url }}" class="m-nav-link-2">{{ 'tn39693501' | t }}</a>
          </li>
          <li class="m-nav-link-item">
            <a href="blog.html" class="m-nav-link-2">{{ 't1fa3c2' | t }}</a>
          </li>
          <li class="m-nav-link-item">
            <a href="{{ pages["geschaftskunden"].url }}" class="m-nav-link-2">{{ 't389e6d4a' | t }}</a>
          </li>
          <li class="m-nav-link-item">
            <a href="{{ pages["gallerie"].url }}" class="m-nav-link-2">{{ 'tn66e32a7d' | t }}</a>
          </li>
          <li class="m-nav-link-item last-item">
            <a href="{{ pages["kontakt"].url }}" class="m-nav-link-2">{{ 't43219700' | t }}</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="m-nav-toggle-bg-2"></div>
  </div>