<div class="nav_section_pc">
    <div class="nav_wrapper_pc">
      <div class="nav_inhalt">
        <div class="nav_inhalt_unten">
          <a href="{{ routes.root_url }}" aria-current="page" class="logo_nav_right w-inline-block w--current">
            <div class="logo_prinjekt_svg_klein w-embed"><svg width="80" height="30" viewBox="0 0 3224 1014" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M375 274.5C384.6 67.3 236.333 6.5 161 2H429.5V775H1V506.5C121.667 515.5 365.4 481.7 375 274.5Z" fill="currentcolor"></path>
                <path d="M1 364V134.5C65.5 121.667 197.3 125.9 208.5 245.5C219.7 365.1 74.8333 374.333 1 364Z" fill="currentcolor"></path>
                <path d="M597 345.5V136C664.333 129.167 800.1 141.5 804.5 245.5C808.9 349.5 668 355.5 597 345.5Z" fill="currentcolor"></path>
                <path d="M687.5 482.5H597V775H870L687.5 482.5Z" fill="currentcolor"></path>
                <path d="M1052.5 775L830.5 442L844 435.5C867.167 428.667 969.564 375.5 972.5 231C976.1 53.8 819.333 4.5 740.5 2H1113.5V775H1052.5Z" fill="currentcolor"></path>
                <path d="M1280.5 775V2H1331.5H1672.5V506.5L1331.5 2V263.5L1672.5 783L1280.5 775Z" fill="currentcolor"></path>
                <path d="M1331.5 2V263.5L1672.5 783L1280.5 775V2H1331.5ZM1331.5 2H1672.5V506.5L1331.5 2ZM161 2C236.333 6.5 384.6 67.3 375 274.5C365.4 481.7 121.667 515.5 1 506.5V775H429.5V2H161ZM1 134.5V364C74.8333 374.333 219.7 365.1 208.5 245.5C197.3 125.9 65.5 121.667 1 134.5ZM597 136V345.5C668 355.5 808.9 349.5 804.5 245.5C800.1 141.5 664.333 129.167 597 136ZM597 482.5H687.5L870 775H597V482.5ZM830.5 442L1052.5 775H1113.5V2H740.5C819.333 4.5 976.1 53.8 972.5 231C969.564 375.5 867.167 428.667 844 435.5L830.5 442Z" stroke="currentcolor"></path>
                <path d="M1113.5 778V2.5H1279.5V778H1113.5Z" fill="#F59F27"></path>
                <path d="M1332 265.5V2.5L1673.5 508V778L1332 265.5Z" fill="#F59F27"></path>
                <path d="M1747 778V2.5H1911.5V778C1906.83 824.167 1881.3 928.4 1816.5 976C1751.7 1023.6 1623.5 1015.17 1567.5 1005V873.5C1583 875.833 1625.9 879.1 1673.5 873.5C1721.1 867.9 1742.33 807.5 1747 778Z" fill="#F59F27"></path>
                <path d="M2244 2.5H1968V136H2244V2.5Z" fill="#F59F27"></path>
                <path d="M2225.5 308H1968V445.5H2225.5V308Z" fill="#F59F27"></path>
                <path d="M1968 778V648H2244V778H1968Z" fill="#F59F27"></path>
                <path d="M2779 778H2588.5L2384.5 454L2313.5 508V357L2588.5 2.5H2779L2504.5 348.5L2779 778Z" fill="#F59F27"></path>
                <path d="M3221.5 2.5H2860V778H3009V143H3223L3221.5 2.5Z" fill="#F59F27"></path>
                <path d="M1113.5 778V2.5H1279.5V778H1113.5Z" stroke="#F59F27"></path>
                <path d="M1332 265.5V2.5L1673.5 508V778L1332 265.5Z" stroke="#F59F27"></path>
                <path d="M1747 778V2.5H1911.5V778C1906.83 824.167 1881.3 928.4 1816.5 976C1751.7 1023.6 1623.5 1015.17 1567.5 1005V873.5C1583 875.833 1625.9 879.1 1673.5 873.5C1721.1 867.9 1742.33 807.5 1747 778Z" stroke="#F59F27"></path>
                <path d="M2244 2.5H1968V136H2244V2.5Z" stroke="#F59F27"></path>
                <path d="M2225.5 308H1968V445.5H2225.5V308Z" stroke="#F59F27"></path>
                <path d="M1968 778V648H2244V778H1968Z" stroke="#F59F27"></path>
                <path d="M2779 778H2588.5L2384.5 454L2313.5 508V357L2588.5 2.5H2779L2504.5 348.5L2779 778Z" stroke="#F59F27"></path>
                <path d="M3221.5 2.5H2860V778H3009V143H3223L3221.5 2.5Z" stroke="#F59F27"></path>
              </svg></div>
          </a>
          <div class="nav_inhalt_left">
            <a href="{{ routes.root_url }}" aria-current="page" class="navbar_link w--current">{{ 't2268ff' | t }}</a>
            <a href="{{ pages["about"].url }}" class="navbar_link">{{ 't3c2336d' | t }}</a>
            <a href="{{ pages["leistungen"].url }}" class="navbar_link">{{ 't302bdc66' | t }}</a>
            <a href="blog.html" class="navbar_link">{{ 't1fa3c2' | t }}</a>
            <a href="{{ pages["geschaftskunden"].url }}" class="navbar_link">{{ 'tn24d0c39c' | t }}</a>
            <a href="{{ pages["gallerie"].url }}" class="navbar_link">{{ 't5782103b' | t }}</a>
            <a href="{{ pages["shop"].url }}" class="navbar_link">{{ 't274f16' | t }}</a>
            <a href="{{ pages["kontakt"].url }}" class="navbar_link">{{ 't43219700' | t }}</a>
            <a href="{{ pages["3d-druck"].url }}" class="navbar_link project nav_inhalt_left">{{ 'tn294cc0a4' | t }}</a>
          </div>
          <div class="nav_inhalt_rechts">
            <div class="inhalt_header_rechts">
              <div class="link_header_icon">
                <div class="light_mode_section">
                  <div class="light_mode_wrapper">
                    <a tr-color-toggle="" href="#" class="toggle_wrap w-inline-block">
                      <div class="code_light_mode_switch w-embed"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <circle cx="12" cy="12" r="4" stroke="currentcolor" stroke-linejoin="round"></circle>
                          <path d="M20 12H21" stroke="currentcolor" stroke-width="1.5" stroke-linecap="round"></path>
                          <path d="M3 12H4" stroke="currentcolor" stroke-width="1.5" stroke-linecap="round"></path>
                          <path d="M12 20L12 21" stroke="currentcolor" stroke-width="1.5" stroke-linecap="round"></path>
                          <path d="M12 3L12 4" stroke="currentcolor" stroke-width="1.5" stroke-linecap="round"></path>
                          <path d="M17.6569 17.6569L18.364 18.364" stroke="currentcolor" stroke-width="1.5" stroke-linecap="round"></path>
                          <path d="M5.63605 5.63599L6.34315 6.34309" stroke="currentcolor" stroke-width="1.5" stroke-linecap="round"></path>
                          <path d="M6.34314 17.6569L5.63603 18.364" stroke="currentcolor" stroke-width="1.5" stroke-linecap="round"></path>
                          <path d="M18.364 5.63599L17.6568 6.34309" stroke="currentcolor" stroke-width="1.5" stroke-linecap="round"></path>
                        </svg></div>
                    </a>
                  </div>
                </div>
              </div>
              <a href="#" class="link_header_icon out w-inline-block">
                <div class="header_icon w-embed"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.99976 14.5C1.99976 16.9853 4.01447 19 6.49976 19H18.4998C20.4328 19 21.9998 17.433 21.9998 15.5C21.9998 13.7367 20.6959 12.278 18.9997 12.0354C19.0087 10.2322 18.3253 8.4261 16.9495 7.05025C14.2158 4.31658 9.78368 4.31658 7.05001 7.05025C6.15066 7.9496 5.54719 9.03278 5.23959 10.1788C3.36766 10.7238 1.99976 12.4522 1.99976 14.5Z" stroke="currentcolor" stroke-linejoin="round"></path>
                    <path d="M14 11L12 9M12 9L10 11M12 9L12 15" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg></div>
              </a>
              <a href="#" class="link_header_icon out w-inline-block">
                <div class="header_icon w-embed"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="17" cy="7" r="3" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round"></circle>
                    <circle cx="7" cy="17" r="3" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round"></circle>
                    <path d="M14 14H20V19C20 19.5523 19.5523 20 19 20H15C14.4477 20 14 19.5523 14 19V14Z" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M4 4H10V9C10 9.55228 9.55228 10 9 10H5C4.44772 10 4 9.55228 4 9V4Z" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg></div>
              </a>
              <a href="#" class="link_header_icon out w-inline-block">
                <div class="header_icon w-embed"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3 2.5C2.72386 2.5 2.5 2.72386 2.5 3C2.5 3.27614 2.72386 3.5 3 3.5V2.5ZM5 3L5.49853 2.96165C5.47849 2.70115 5.26127 2.5 5 2.5V3ZM21 6L21.4969 6.05522C21.5126 5.91386 21.4674 5.77251 21.3726 5.66654C21.2777 5.56057 21.1422 5.5 21 5.5V6ZM5.23077 6L4.73224 6.03835L4.73224 6.03835L5.23077 6ZM18.3387 15.1187L18.3743 15.6174L18.3387 15.1187ZM7.98405 15.8583L7.94842 15.3596L7.98405 15.8583ZM3 3.5H5V2.5H3V3.5ZM8.01967 16.357L18.3743 15.6174L18.303 14.6199L7.94842 15.3596L8.01967 16.357ZM20.6809 13.3998L21.4969 6.05522L20.5031 5.94478L19.687 13.2894L20.6809 13.3998ZM4.50147 3.03835L4.73224 6.03835L5.7293 5.96165L5.49853 2.96165L4.50147 3.03835ZM4.73224 6.03835L5.34892 14.0551L6.34597 13.9784L5.7293 5.96165L4.73224 6.03835ZM21 5.5H5.23077V6.5H21V5.5ZM18.3743 15.6174C19.5774 15.5315 20.5477 14.5987 20.6809 13.3998L19.687 13.2894C19.6071 14.0087 19.0249 14.5684 18.303 14.6199L18.3743 15.6174ZM7.94842 15.3596C7.12529 15.4183 6.40926 14.8012 6.34597 13.9784L5.34892 14.0551C5.4544 15.4264 6.64779 16.455 8.01967 16.357L7.94842 15.3596Z" fill="currentcolor"></path>
                    <rect x="8.5" y="19.5" width="0.01" height="0.01" stroke="currentcolor" stroke-width="1.5" stroke-linejoin="round"></rect>
                    <rect x="17.5" y="19.5" width="0.01" height="0.01" stroke="currentcolor" stroke-width="1.5" stroke-linejoin="round"></rect>
                  </svg></div>
              </a>
              <a href="#" class="link_header_icon out w-inline-block">
                <div class="header_icon w-embed"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9 4H19V18C19 19.1046 18.1046 20 17 20H9" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M12 15L15 12M15 12L12 9M15 12H5" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg></div>
              </a>
              <a href="https://shopify.com/66921464105/account" class="login_icon_header w-inline-block">
                <div class="w-embed"><svg width="16" height="20" viewBox="0 0 16 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15 19C15 15.134 11.866 12 8 12C4.13401 12 1 15.134 1 19M8 9C5.79086 9 4 7.20914 4 5C4 2.79086 5.79086 1 8 1C10.2091 1 12 2.79086 12 5C12 7.20914 10.2091 9 8 9Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg></div>
              </a>
              <div data-open-product="" data-wf-cart-type="rightDropdown" data-wf-cart-query="" data-wf-page-link-href-prefix="" data-open-on-hover="" class="w-commerce-commercecartwrapper" data-node-type="commerce-cart-wrapper" udy-collection="cart">
                <a class="w-commerce-commercecartopenlink cart-button w-inline-block" role="button" aria-haspopup="dialog" aria-label="Open cart" data-node-type="commerce-cart-open-link" href="#"><svg class="w-commerce-commercecartopenlinkicon icon-3" width="17px" height="17px" viewBox="0 0 17 17">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <path d="M2.60592789,2 L0,2 L0,0 L4.39407211,0 L4.84288393,4 L16,4 L16,9.93844589 L3.76940945,12.3694378 L2.60592789,2 Z M15.5,17 C14.6715729,17 14,16.3284271 14,15.5 C14,14.6715729 14.6715729,14 15.5,14 C16.3284271,14 17,14.6715729 17,15.5 C17,16.3284271 16.3284271,17 15.5,17 Z M5.5,17 C4.67157288,17 4,16.3284271 4,15.5 C4,14.6715729 4.67157288,14 5.5,14 C6.32842712,14 7,14.6715729 7,15.5 C7,16.3284271 6.32842712,17 5.5,17 Z" fill="currentColor" fill-rule="nonzero"></path>
                    </g>
                  </svg>
                  <div class="w-commerce-commercecartopenlinkcount cart-quantity">{{ cart.item_count }}</div>
                </a>
                <div style="display:none" class="w-commerce-commercecartcontainerwrapper w-commerce-commercecartcontainerwrapper--cartType-rightDropdown" data-node-type="commerce-cart-container-wrapper">
                  <div data-node-type="commerce-cart-container" role="dialog" class="w-commerce-commercecartcontainer cart-container">
                    <div class="w-commerce-commercecartheader">
                      <h4 class="w-commerce-commercecartheading">{{ 'tb3ff85' | t }}</h4>
                      <a class="w-commerce-commercecartcloselink w-inline-block" role="button" aria-label="Close cart" data-node-type="commerce-cart-close-link"><img src="{{ 'x-1.png' | asset_url }}" loading="lazy" alt=""></a>
                    </div>
                    <div class="w-commerce-commercecartformwrapper">
                      <form style="display:none" class="w-commerce-commercecartform" data-node-type="commerce-cart-form">
                        <script type="text/x-wf-template" id="wf-template-c98c6c59-1d68-2bd0-f8d9-b00a72fc99fa"><div data-node-type="cart-item" template-part-bind="c98c6c59-1d68-2bd0-f8d9-b00a72fc99fb" class="w-commerce-commercecartitem"><img data-node-type="cart-item-image" template-part-bind="c98c6c59-1d68-2bd0-f8d9-b00a72fc99fc" class="w-commerce-commercecartitemimage" src="<%= it.image %>"><div data-node-type="cart-item-info" template-part-bind="c98c6c59-1d68-2bd0-f8d9-b00a72fc99fd" class="w-commerce-commercecartiteminfo"><div data-node-type="cart-product-name" template-part-bind="c98c6c59-1d68-2bd0-f8d9-b00a72fc99fe" class="w-commerce-commercecartproductname"><%= it.title %></div><div template-part-bind="c98c6c59-1d68-2bd0-f8d9-b00a72fc99ff"><%= it.price %></div><ul class="option-list-2 w-commerce-commercecartoptionlist" template-part-bind="c98c6c59-1d68-2bd0-f8d9-b00a72fc9a00"><% Object.entries(it.properties).forEach( data =>  { %><li data-node-type="cart-option-list-item"><span data-node-type="cart-option-list-item-label" template-part-bind="c98c6c59-1d68-2bd0-f8d9-b00a72fc9a02"><%= data[0] %></span><span data-node-type="span">{{ 't726' | t }}</span><span data-node-type="cart-option-list-item-value" template-part-bind="c98c6c59-1d68-2bd0-f8d9-b00a72fc9a05"><%= data[1] %></span></li><% }) %></ul><a data-node-type="cart-remove-link" class="remove-button" href="#" role="button" template-part-bind="c98c6c59-1d68-2bd0-f8d9-b00a72fc9a06" data-product-id="<%= it.id %>"><div>{{ 'tn6e501b5c' | t }}</div></a></div><input class="w-commerce-commercecartquantity cart-quantity-2" name="<%= it.id %>" type="number" min="0" min="1" value="<%= it.quantity %>" data-node-type="cart-quantity"></div></script>
                        <div class="w-commerce-commercecartlist" data-wf-collection="database.commerceOrder.userItems" data-wf-template-id="wf-template-c98c6c59-1d68-2bd0-f8d9-b00a72fc99fa"></div>
                        <div class="w-commerce-commercecartfooter">
                          <div aria-atomic="true" aria-live="polite" class="w-commerce-commercecartlineitem">
                            <div>{{ 'tn76f396dc' | t }}</div>
                            <div class="w-commerce-commercecartordervalue">{{ cart.items_subtotal_price | money }}</div>
                          </div>
                          <div>
                            <div data-node-type="commerce-cart-quick-checkout-actions">{{ content_for_additional_checkout_buttons }}</div>
                            <a href="/checkout" value="Jetzt kaufen" class="w-commerce-commercecartcheckoutbutton checkout-button" data-loading-text="{{ 'tn3f329d3f' | t }}" data-node-type="cart-checkout-button">{{ 'tn43939963' | t }}</a>
                          </div>
                        </div>
                      </form>
                      <div class="w-commerce-commercecartemptystate">
                        <div aria-label="This cart is empty" aria-live="polite">{{ 't3d503d2b' | t }}</div>
                      </div>
                      <div aria-live="assertive" style="display:none" data-node-type="commerce-cart-error" class="w-commerce-commercecarterrorstate">
                        <div class="w-cart-error-msg" data-w-cart-quantity-error="Product is not available in this quantity." data-w-cart-general-error="Something went wrong when adding this item to the cart." data-w-cart-checkout-error="Checkout is disabled on this site." data-w-cart-cart_order_min-error="The order minimum was not met. Add more items to your cart to continue." data-w-cart-subscription_error-error="Before you purchase, please use your email invite to verify your address so we can send order updates.">{{ 'tn1c765d0d' | t }}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>