<div id="w-node-_14f2ae16-491b-ab7c-7173-9d5c4d0ffa32-4d0ffa32" class="upload_tool_home">
            <div id="w-node-_14f2ae16-491b-ab7c-7173-9d5c4d0ffa33-4d0ffa32" class="inhalt_upload_tool">
              <div class="upload_tool_innen">
                <div class="text_normal _60 mitte">{{ section.settings.text_ber_button | newline_to_br }}</div>
                <div class="buttons_upload_tool">
                  <a href="{{ pages["3d-druck"].url }}" class="button modul w-button">{{ 't52d4ef3e' | t }}</a>
                  {{ '3d-druck.' | asset_url | stylesheet_tag }}
                </div>
              </div>
              <div class="upload_tool_down">
                <div class="text_normal _60 mitte">{{ section.settings.untertitel | newline_to_br }}</div>
              </div>
            </div>
          </div>