
      <div class="branchen_oben_section_home">
        <h2 text-split="" letters-slide-up-hero="" class="heading_h2 mitte">{{ section.settings.heading }}</h2>
      </div>
      <div class="branchen_unterteilung">
        <div class="unterteilung_branchen_section">
          <div class="icon_branchen w-embed"><svg width="75" height="75" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M5.5 10V17.5C5.5 18.4428 5.5 18.9142 5.79289 19.2071C6.08579 19.5 6.55719 19.5 7.5 19.5H16.5C17.4428 19.5 17.9142 19.5 18.2071 19.2071C18.5 18.9142 18.5 18.4428 18.5 17.5V10" stroke="currentcolor"></path>
              <path d="M20.5 11.5L12.5767 5.90707C12.231 5.66303 11.769 5.66303 11.4233 5.90707L3.5 11.5" stroke="currentcolor" stroke-linecap="round"></path>
              <path d="M14.5 19V15C14.5 13.8954 13.6046 13 12.5 13H11.5C10.3954 13 9.5 13.8954 9.5 15V19" stroke="currentcolor" stroke-linejoin="round"></path>
              <path d="M17.5 9V5.5" stroke="currentcolor" stroke-linecap="round"></path>
            </svg></div>
          <div class="text_normal_big mitte">{{ section.settings.branche_1 }}</div>
        </div>
        <div class="unterteilung_branchen_section">
          <div class="icon_branchen w-embed"><svg width="75" height="75" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M12 21V13M12 21L5.83752 16.5982C5.42695 16.305 5.22166 16.1583 5.11083 15.943C5 15.7276 5 15.4753 5 14.9708V8M12 21L18.1625 16.5982C18.573 16.305 18.7783 16.1583 18.8892 15.943C19 15.7276 19 15.4753 19 14.9708V8M12 13L5 8M12 13L19 8M5 8L10.8375 3.83034C11.3989 3.42938 11.6795 3.2289 12 3.2289C12.3205 3.2289 12.6011 3.42938 13.1625 3.83034L19 8" stroke="currentcolor" stroke-linejoin="round"></path>
            </svg></div>
          <div class="text_normal_big">{{ section.settings.branche_2 }}</div>
        </div>
        <div class="unterteilung_branchen_section">
          <div class="icon_branchen w-embed"><svg width="75" height="75" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M4.87157 9.99464L3.33219 8.6263C3.1258 8.44284 2.80976 8.46143 2.6263 8.66782C2.44284 8.87421 2.46143 9.19025 2.66782 9.37371L4.11705 10.6619C4.37441 10.4333 4.62579 10.2106 4.87157 9.99464ZM7.92571 13.9682C8.25546 14.2298 8.56828 14.4637 8.86885 14.6691C9.94113 15.4019 10.9102 15.8102 12 15.8102C13.0898 15.8102 14.0589 15.4019 15.1312 14.6691C16.1856 13.9485 17.3907 12.8772 18.9485 11.4925L18.9485 11.4925L18.9758 11.4683L21.3322 9.37371C21.5386 9.19025 21.5572 8.87421 21.3737 8.66782C21.1903 8.46143 20.8742 8.44284 20.6678 8.6263L18.3115 10.7208C16.7207 12.1349 15.5625 13.1631 14.5669 13.8435C13.5831 14.5159 12.8112 14.8102 12 14.8102C11.1888 14.8102 10.4169 14.5159 9.4331 13.8435C9.19629 13.6817 8.95028 13.5001 8.69144 13.2984C8.453 13.5045 8.19872 13.7273 7.92571 13.9682Z" fill="currentcolor"></path>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M16.0743 10.0314C15.7446 9.7699 15.4317 9.53599 15.1312 9.33057C14.0589 8.59774 13.0898 8.18945 12 8.18945C10.9102 8.18945 9.94113 8.59774 8.86885 9.33057C7.81445 10.0512 6.60925 11.1225 5.05149 12.5072L5.02418 12.5314L2.66782 14.626C2.46143 14.8094 2.44284 15.1255 2.6263 15.3319C2.80976 15.5383 3.1258 15.5568 3.33219 15.3734L5.68855 13.2788C7.27931 11.8648 8.43752 10.8366 9.4331 10.1562C10.4169 9.48378 11.1888 9.18945 12 9.18945C12.8112 9.18945 13.5831 9.48378 14.5669 10.1562C14.8037 10.318 15.0497 10.4995 15.3086 10.7012C15.547 10.4952 15.8013 10.2724 16.0743 10.0314ZM19.883 13.3378C19.6256 13.5664 19.3742 13.7891 19.1284 14.005L20.6678 15.3734C20.8742 15.5568 21.1903 15.5383 21.3737 15.3319C21.5572 15.1255 21.5386 14.8094 21.3322 14.626L19.883 13.3378Z" fill="currentcolor"></path>
            </svg></div>
          <div class="text_normal_big mitte">{{ section.settings.branche_3 }}</div>
        </div>
        <div class="unterteilung_branchen_section">
          <div class="icon_branchen w-embed"><svg width="75" height="75" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M5.5 7C5.5 6.17157 6.17157 5.5 7 5.5H15C16.933 5.5 18.5 7.067 18.5 9V17C18.5 17.8284 17.8284 18.5 17 18.5H7C6.17157 18.5 5.5 17.8284 5.5 17V7Z" stroke="currentcolor"></path>
              <path d="M9 6V2" stroke="currentcolor"></path>
              <path d="M9 22V18" stroke="currentcolor"></path>
              <path d="M15 22V18" stroke="currentcolor"></path>
              <path d="M22 15L18 15" stroke="currentcolor"></path>
              <path d="M6 15L2 15" stroke="currentcolor2"></path>
              <path d="M6 9L2 9" stroke="currentcolor"></path>
              <path d="M15 3V3C16.8638 3 17.7956 3 18.5307 3.30448C19.5108 3.71046 20.2895 4.48915 20.6955 5.46927C21 6.20435 21 7.13623 21 9V9" stroke="currentcolor"></path>
            </svg></div>
          <div class="text_normal_big">{{ section.settings.branche_4 }}</div>
        </div>
      </div>
      <div class="branchen_unterteilung">
        <div class="unterteilung_branchen_section">
          <div class="icon_branchen w-embed"><svg width="75" height="75" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M9 21H15" stroke="currentcolor" stroke-linecap="round"></path>
              <path d="M12 21V17" stroke="currentcolor" stroke-linecap="round"></path>
              <path d="M5.5 9.28571C5.5 8.99265 5.50316 8.92982 5.51254 8.88874C5.55527 8.70149 5.70149 8.55527 5.88874 8.51254C5.92982 8.50316 5.99265 8.5 6.28571 8.5H17.7143C18.0073 8.5 18.0702 8.50316 18.1113 8.51254C18.2985 8.55527 18.4447 8.70149 18.4875 8.88874C18.4968 8.92982 18.5 8.99265 18.5 9.28571V10C18.5 10.9447 18.4989 11.3687 18.4529 11.7179C18.128 14.1859 16.1859 16.128 13.7179 16.4529C13.3687 16.4989 12.9447 16.5 12 16.5C11.0553 16.5 10.6313 16.4989 10.2821 16.4529C7.81407 16.128 5.87198 14.1859 5.54705 11.7179C5.50108 11.3687 5.5 10.9447 5.5 10V9.28571Z" stroke="currentcolor" stroke-linecap="round"></path>
              <path d="M11.5192 11.8626C11.4434 12.1282 11.5971 12.4049 11.8626 12.4808C12.1282 12.5566 12.4049 12.4029 12.4808 12.1374L11.5192 11.8626ZM13.7305 5.9432L14.2113 6.08056L13.7305 5.9432ZM14.9108 4.63569L14.7251 4.17145V4.17145L14.9108 4.63569ZM14.0845 5.07626L14.4556 5.41129L14.0845 5.07626ZM12.4808 12.1374L14.2113 6.08056L13.2498 5.80584L11.5192 11.8626L12.4808 12.1374ZM15.0965 5.09993L19.1857 3.46424L18.8143 2.53576L14.7251 4.17145L15.0965 5.09993ZM14.2113 6.08056C14.3571 5.57018 14.3961 5.4772 14.4556 5.41129L13.7133 4.74122C13.4619 5.01979 13.3686 5.38994 13.2498 5.80584L14.2113 6.08056ZM14.7251 4.17145C14.3235 4.33209 13.9648 4.46266 13.7133 4.74122L14.4556 5.41129C14.5151 5.34538 14.6036 5.29706 15.0965 5.09993L14.7251 4.17145Z" fill="currentcolor"></path>
            </svg></div>
          <div class="text_normal_big">{{ section.settings.branche_5 }}</div>
        </div>
        <div class="unterteilung_branchen_section">
          <div class="icon_branchen w-embed"><svg width="75" height="75" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M8.4 17.1429H15.6M8.4 17.1429C8.4 18.1686 7.59411 19 6.6 19C5.60589 19 4.8 18.1686 4.8 17.1429M8.4 17.1429C8.4 16.1172 7.59411 15.2857 6.6 15.2857C5.60589 15.2857 4.8 16.1172 4.8 17.1429M15.6 17.1429C15.6 18.1686 16.4059 19 17.4 19C18.3941 19 19.2 18.1686 19.2 17.1429M15.6 17.1429C15.6 16.1172 16.4059 15.2857 17.4 15.2857C18.3941 15.2857 19.2 16.1172 19.2 17.1429M4.8 17.1429H4.44C3.93595 17.1429 3.68393 17.1429 3.49141 17.0416C3.32207 16.9526 3.18438 16.8106 3.09809 16.6359C3 16.4372 3 16.1772 3 15.6571V14.5429C3 13.5028 3 12.9827 3.19619 12.5854C3.36876 12.236 3.64412 11.9519 3.98282 11.7739C4.36786 11.5714 4.87191 11.5714 5.88 11.5714H16.68C17.3489 11.5714 17.6833 11.5714 17.9631 11.6171C19.5036 11.8688 20.7117 13.1154 20.9557 14.7047C21 14.9934 21 15.3385 21 16.0286C21 16.2011 21 16.2874 20.9889 16.3595C20.9279 16.7569 20.6259 17.0685 20.2408 17.1314C20.1708 17.1429 20.0872 17.1429 19.92 17.1429H19.2M10.2 6V11.5714M4.8 11.5714L5.09837 9.72439C5.31211 8.40122 5.41898 7.73963 5.73897 7.24317C6.02104 6.80554 6.41734 6.45915 6.88211 6.24404C7.40937 6 8.05944 6 9.35959 6H12.388C13.2333 6 13.6559 6 14.0396 6.1202C14.3792 6.22663 14.6951 6.40109 14.9694 6.63362C15.2791 6.89629 15.5136 7.25912 15.9825 7.98477L18.3 11.5714" stroke="currentcolor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg></div>
          <div class="text_normal_big">{{ section.settings.branche_6 }}</div>
        </div>
        <div class="unterteilung_branchen_section">
          <div class="icon_branchen w-embed"><svg width="75" height="75" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M19.8661 7.42621C19.5248 6.06841 18.5305 5.07346 16.9876 4.54618C15.9598 4.19586 13.4567 3.87533 12.3547 5.07076C8.80199 3.12793 6.92865 4.18625 5.66888 5.43501C2.88836 8.19143 4.16053 10.9682 5.34941 12.1738C6.20887 13.0469 6.45745 13.5517 6.59666 14.1283C6.62801 14.2552 6.6989 14.6299 6.70241 14.7101C6.9221 19.5117 8.69612 19.9231 9.1203 19.9521C9.24394 19.985 9.36572 20 9.48352 20C9.6997 20 9.90454 19.9468 10.0904 19.8416C10.9715 19.3433 11.243 17.7919 11.4817 16.4258C11.5685 15.9315 11.6494 15.4647 11.7441 15.1932C11.9082 14.7232 12.0439 14.616 12.0426 14.5997C12.1609 14.6482 12.3603 15 12.3823 15.1386C12.4151 15.3457 12.4386 15.6138 12.4649 15.9144C12.601 17.4566 12.8039 19.7824 14.5812 19.9508C14.7073 19.9757 15.0073 20.0014 15.3755 19.7963C16.2132 19.3269 16.8336 17.9825 17.2175 15.8L17.2752 15.4509C17.4134 14.576 17.6049 13.3769 18.3879 12.617C19.2926 11.7452 20.3845 9.49071 19.8661 7.42621ZM17.863 12.1541C16.9199 13.0692 16.7004 14.4444 16.5567 15.3555L16.5011 15.6934C16.0587 18.204 15.4005 18.9619 15.0487 19.1907C14.8627 19.3117 14.7466 19.2946 14.7594 19.2992L14.6768 19.284C13.4858 19.188 13.3106 17.1877 13.1952 15.8617C13.1667 15.5436 13.1418 15.2603 13.1076 15.0413C13.0726 14.8203 12.7336 13.9776 12.1103 13.9297C11.4401 13.8882 11.1491 14.7126 11.0536 14.9873C10.9418 15.3089 10.8596 15.7762 10.7648 16.3192C10.5824 17.3592 10.3075 18.9316 9.71128 19.2695C9.63103 19.3156 9.51078 19.3628 9.29425 19.2985L9.18417 19.2827H9.17457C9.15644 19.2827 7.63639 19.1131 7.43331 14.6824C7.42617 14.5279 7.33797 14.092 7.31153 13.9816C7.11992 13.1916 6.73563 12.5788 5.8922 11.7229C5.60981 11.4375 3.22784 8.84782 6.20606 5.89611C7.57439 4.53971 9.59337 3.6213 14.1782 7.09618C14.3343 7.21353 14.5628 7.19378 14.6919 7.04976C14.8201 6.90585 14.7973 6.69511 14.6419 6.57582C14.0543 6.13178 13.503 5.75414 12.9858 5.43814C13.8307 4.65522 15.8245 4.86823 16.7368 5.18044C18.0582 5.63139 18.8724 6.43828 19.158 7.58027C19.5933 9.32165 18.6864 11.3567 17.863 12.1541Z" fill="currentcolor"></path>
            </svg></div>
          <div class="text_normal_big">{{ section.settings.branche_7 }}</div>
        </div>
        <div class="unterteilung_branchen_section">
          <div class="icon_branchen w-embed"><svg width="75" height="75" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M9 3H8C7.07003 3 6.60504 3 6.22354 3.10222C5.18827 3.37962 4.37962 4.18827 4.10222 5.22354C4 5.60504 4 6.07003 4 7" stroke="currentcolor" stroke-linejoin="round"></path>
              <path d="M15 3H16C16.93 3 17.395 3 17.7765 3.10222C18.8117 3.37962 19.6204 4.18827 19.8978 5.22354C20 5.60504 20 6.07003 20 7" stroke="currentcolor" stroke-linejoin="round"></path>
              <path d="M20 15V16C20 17.8692 20 18.8038 19.5981 19.5C19.3348 19.9561 18.9561 20.3348 18.5 20.5981C17.8038 21 16.8692 21 15 21" stroke="currentcolor" stroke-linejoin="round"></path>
              <path d="M4 15V16C4 17.8692 4 18.8038 4.40192 19.5C4.66523 19.9561 5.04394 20.3348 5.5 20.5981C6.19615 21 7.13077 21 9 21" stroke="currentcolor" stroke-linejoin="round"></path>
              <path d="M3 15L21 15" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round"></path>
              <path d="M7 11L7 15L17 15L17 11C17 10.0572 17 9.58579 16.7071 9.29289C16.4142 9 15.9428 9 15 9L9 9C8.05719 9 7.58579 9 7.29289 9.29289C7 9.58579 7 10.0572 7 11Z" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg></div>
          <div class="text_normal_big">{{ section.settings.branche_8 }}</div>
        </div>
      </div>
    

<script>var currentSection = document.currentScript.closest('.shopify-section');currentSection.setAttribute("class","branchen_wrapper_home");</script>
        
{% schema %}
{
  "name": "Branchen_Home",
  "tag": "div",
  "class": "branchen_wrapper_home",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Fertigungen für jede Branche"
    },
    {
      "type": "text",
      "id": "branche_1",
      "label": "Branche-1",
      "default": "Haushalt / Konsumgüter"
    },
    {
      "type": "text",
      "id": "branche_2",
      "label": "Branche-2",
      "default": "Lageristik"
    },
    {
      "type": "text",
      "id": "branche_3",
      "label": "Branche-3",
      "default": "Forschung / Entwicklung"
    },
    {
      "type": "text",
      "id": "branche_4",
      "label": "Branche-4",
      "default": "Elektronik"
    },
    {
      "type": "text",
      "id": "branche_5",
      "label": "Branche-5",
      "default": "Gastro / Hotel"
    },
    {
      "type": "text",
      "id": "branche_6",
      "label": "Branche-6",
      "default": "Automobilindustrie"
    },
    {
      "type": "text",
      "id": "branche_7",
      "label": "Branche-7",
      "default": "Medizin / Zahnmedizin"
    },
    {
      "type": "text",
      "id": "branche_8",
      "label": "Branche-8",
      "default": "Robotik / Maschinenbau"
    }
  ]
}
{% endschema %}