
      <div class="contact_oben">
        <h1 class="heading_h2">{{ section.settings.heading }}</h1>
        <p class="text_normal _70">{{ section.settings.subtext | newline_to_br }}</p>
      </div>
      <div class="contact_unten">
        <div class="contact_links">
          <div id="w-node-_3a53a68f-2aa5-bee5-d10a-9fba3c334c7e-3c334c76" data-w-id="3a53a68f-2aa5-bee5-d10a-9fba3c334c7e" class="card_contact">
            <div class="inhalt_kontakt_linls">
              <div class="inhalt_kontakt_innen">
                <h2 class="heading_h3 klein contact">{{ section.settings.heading_form }}</h2>
                <p class="text_normal">{{ section.settings.subtext_form | newline_to_br }}</p>
                <div class="informationen_section">
                  <div class="telefon">
                    <div class="code_kontakt w-embed"><svg width="30" height="30" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6.67962 3.32038L7.29289 2.70711C7.68342 2.31658 8.31658 2.31658 8.70711 2.70711L11.2929 5.29289C11.6834 5.68342 11.6834 6.31658 11.2929 6.70711L9.50048 8.49952C9.2016 8.7984 9.1275 9.255 9.31653 9.63307C10.4093 11.8186 12.1814 13.5907 14.3669 14.6835C14.745 14.8725 15.2016 14.7984 15.5005 14.4995L17.2929 12.7071C17.6834 12.3166 18.3166 12.3166 18.7071 12.7071L21.2929 15.2929C21.6834 15.6834 21.6834 16.3166 21.2929 16.7071L20.6796 17.3204C18.5683 19.4317 15.2257 19.6693 12.837 17.8777L11.6286 16.9714C9.88504 15.6638 8.33622 14.115 7.02857 12.3714L6.12226 11.163C4.33072 8.7743 4.56827 5.43173 6.67962 3.32038Z" fill="currentcolor"></path>
                      </svg></div>
                    <a href="#" class="informationen-link">{{ section.settings.number }}</a>
                  </div>
                  <div class="telefon">
                    <div class="code_kontakt w-embed"><svg width="30" height="30" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M3.0132 9.15129C3 9.69022 3 10.3021 3 11V13C3 15.8284 3 17.2426 3.87868 18.1213C4.75736 19 6.17157 19 9 19H15C17.8284 19 19.2426 19 20.1213 18.1213C21 17.2426 21 15.8284 21 13V11C21 10.3021 21 9.69022 20.9868 9.15129L12.9713 13.6044C12.3672 13.9399 11.6328 13.9399 11.0287 13.6044L3.0132 9.15129ZM3.24297 7.02971C3.32584 7.05052 3.4074 7.08237 3.48564 7.12584L12 11.856L20.5144 7.12584C20.5926 7.08237 20.6742 7.05052 20.757 7.02971C20.6271 6.55619 20.4276 6.18491 20.1213 5.87868C19.2426 5 17.8284 5 15 5H9C6.17157 5 4.75736 5 3.87868 5.87868C3.57245 6.18491 3.37294 6.55619 3.24297 7.02971Z" fill="currentcolor"></path>
                      </svg></div>
                    <a href="#" class="informationen-link">{{ section.settings.mail }}</a>
                  </div>
                  <div class="telefon">
                    <div class="code_kontakt w-embed"><svg width="30" height="30" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M5.27446 10.1262C5 10.7229 5 11.4018 5 12.7595V16.9999C5 18.8856 5 19.8284 5.58579 20.4142C6.11733 20.9457 6.94285 20.9949 8.5 20.9995V16C8.5 14.8954 9.39543 14 10.5 14H13.5C14.6046 14 15.5 14.8954 15.5 16V20.9995C17.0572 20.9949 17.8827 20.9457 18.4142 20.4142C19 19.8284 19 18.8856 19 16.9999V12.7595C19 11.4018 19 10.7229 18.7255 10.1262C18.4511 9.52943 17.9356 9.08763 16.9047 8.20401L15.9047 7.34687C14.0414 5.74974 13.1098 4.95117 12 4.95117C10.8902 4.95117 9.95857 5.74974 8.09525 7.34687L7.09525 8.20401C6.06437 9.08763 5.54892 9.52943 5.27446 10.1262ZM13.5 20.9999V16H10.5V20.9999H13.5Z" fill="currentcolor"></path>
                      </svg></div>
                    <a href="#" class="informationen-link">{{ section.settings.adresse }}</a>
                  </div>
                </div>
              </div>
              <div class="img_bg_contact"><img src="{{ 'group-1000001765_1.webp' | asset_url }}" loading="lazy" alt="3D Druck Service Hannover" class="image_contact"></div>
            </div>
          </div>
        </div>
        <div class="contact_rechts">
          <div data-w-id="3a53a68f-2aa5-bee5-d10a-9fba3c334c95" class="card_contact_ohne">
            <div class="inhalt_kontakt_linls">
              <div class="inhalt_kontakt_innen">
                <div class="form_contact w-form">
                  {%- form "contact",  class: "form_ausf-llen" -%}
                    <div class="contact_block_name">
                      <div class="conact_field _1 _50 _2em"><label for="contact[name_]" class="heading_form">{{ 'tn76c4393c' | t }}</label><input class="form_field w-input" maxlength="256" name="contact[name_]" data-name="Name 2" placeholder="{{ 'tn228f2e67' | t }}" type="text" id="name-2" required=""></div>
                      <div class="conact_field _1 _50"><label for="contact[nachname_]" class="heading_form">{{ 't60b4ec03' | t }}</label><input class="form_field w-input" maxlength="256" name="contact[nachname_]" data-name="Nachname 2" placeholder="{{ 't39cb45ba' | t }}" type="text" id="Nachname-2" required=""></div>
                    </div>
                    <div class="contact_bock_mail">
                      <div class="conact_field _50 _2em"><label for="email_" class="heading_form">{{ 'tn2ab07c15' | t }}</label><input class="form_field w-input" maxlength="256" name="contact[email]" data-name="Email 2" placeholder="{{ 'tn3500f7bb' | t }}" type="email" id="email-2" required=""></div>
                      <div class="conact_field _50"><label for="contact[telefon_]" class="heading_form">{{ 'tn17fa1d28' | t }}</label><input class="form_field w-input" maxlength="256" name="contact[telefon_]" data-name="Telefon 2" placeholder="{{ 't7525d48c' | t }}" type="email" id="Telefon-2" required=""></div>
                    </div>
                    <div class="conact_field"><label for="contact[nachricht_]" class="heading_form">{{ 'tn49db8f60' | t }}</label><input class="form_field w-input" maxlength="256" name="contact[nachricht_]" data-name="Nachricht 2" placeholder="{{ 'tn1c14dfd4' | t }}" type="text" id="Nachricht-2" required=""></div>
                    <div class="buttons_field"><input type="submit" data-wait="Please wait..." class="button-contact w-button" value="{{ 't6a4f2db2' | t }}"><label class="w-checkbox checkbox-field">
                        <div class="w-checkbox-input w-checkbox-input--inputType-custom checkbox"></div>{%- if section.settings.datenschutz -%}<input type="checkbox" name="contact[checkbox_]" id="checkbox-2" data-name="Checkbox 2" required="" style="opacity:0;position:absolute;z-index:-1">{%- endif -%}<span class="checkbox-label-2 w-form-label" for="checkbox-2">{{ 't1e2691ba' | t }}<a href="{{ pages["agb"].url }}" class="link-2">{{ 'tn7185861a' | t }}</a></span>
                      </label></div>
                  {%- assign form_success = form.posted_successfully? -%}{%- assign form_errors = form.errors -%}{%- render "form-general-script", form_success: form_success, form_errors: form_errors -%}{%- endform -%}
                  <div class="form_erfolgreich w-form-done  {% if form_success %}form-posted-successfully{% endif %}">
                    <div>{{ 't4a848cb7' | t }}<br>{{ 'tn4e6f0f0e' | t }}</div>
                  </div>
                  {%- unless form_success -%}<div class="form_fehler w-form-fail  {% if form.errors %}form-has-errors{% endif %}">
                    <div>{%- render "form-errors", form_errors: form_errors -%}</div>
                  </div>{%- endunless -%}
                </div>
              </div>
              <div class="img_bg_contact"><img src="{{ 'bg.webp' | asset_url }}" loading="lazy" alt="Hochwertig 3d drucken lassen" class="img_contact2"></div>
            </div>
          </div>
        </div>
      </div>
    

<script>var currentSection = document.currentScript.closest('.shopify-section');currentSection.setAttribute("class","contact_wrapper");</script>
        
{% schema %}
{
  "name": "Contact",
  "tag": "div",
  "class": "contact_wrapper",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Kontaktiere uns "
    },
    {
      "type": "text",
      "id": "heading_form",
      "label": "Heading_Form",
      "default": "Kontaktinformationen"
    },
    {
      "type": "text",
      "id": "number",
      "label": "Number",
      "default": "+495101 5991784"
    },
    {
      "type": "text",
      "id": "mail",
      "label": "Mail",
      "default": "support@prinjekt.de"
    },
    {
      "type": "text",
      "id": "adresse",
      "label": "Adresse",
      "default": "Max-von-Laue-Straße 19 30966 Hemmingen"
    },
    {
      "type": "textarea",
      "id": "subtext",
      "label": "Subtext",
      "default": "Wir legen großen Wert auf Kundenzufriedenheit und sind stets für Sie da. Bei Fragen, Anregungen oder Anliegen zögern Sie bitte nicht, uns zu kontaktieren. Unser freundliches und kompetentes Team steht Ihnen jederzeit zur Verfügung, um Ihnen weiterzuhelfen und Ihre Anliegen schnellstmöglich zu klären."
    },
    {
      "type": "textarea",
      "id": "subtext_form",
      "label": "Subtext_Form",
      "default": "Melde Dich gerne bei Fragen bei Uns!"
    },
    {
      "type": "checkbox",
      "id": "datenschutz",
      "label": "Datenschutz",
      "default": true
    }
  ]
}
{% endschema %}