
      <div class="druckvermietung_section">
        <div data-w-id="e44342a9-1f00-c655-5682-de74d21daff0" class="druckvermietung_bg">
          <div class="druckvermietung_oben">
            <div class="druckvermietung_left">
              <h2 class="heading_h2 orange bold">{{ section.settings.heading | newline_to_br }}</h2>
              <p class="text_normal">{{ section.settings.subtext | newline_to_br }}</p>
            </div>
            <div class="druckvermietung_right">
              <a href="{{ section.settings.datei_einfgen }}" target="_blank" class="button w-button">{{ section.settings.datei_einfgen_text }}</a>
            </div>
          </div>
          <div data-current="Tab 1" data-easing="ease" data-duration-in="300" data-duration-out="100" class="tabs w-tabs">
            <div class="tabs-menu w-tab-menu">
              <a data-w-tab="Tab 1" class="tab2 w-inline-block w-tab-link w--current">
                <div>{{ section.settings.text_button1 }}</div>
              </a>
              <a data-w-tab="Tab 2" class="tab2 w-inline-block w-tab-link">
                <div>{{ section.settings.text_button2 }}</div>
              </a>
            </div>
            <div class="tabs-content w-tab-content">
              <div data-w-tab="Tab 1" class="w-tab-pane w--tab-active">
                <div class="inhalt_druckvermietung">
                  <div class="inhalt_druckvermietung_section">
                    <div class="druckvermietung_1">
                      <div class="druckvermietung_inhalt_section">
                        <div class="druckvermietung_numb">
                          <h1 class="heading_h4">{{ 't61d' | t }}</h1>
                        </div>
                        <div class="druckvermietung_text">
                          <h1 class="heading_h4">{{ section.settings.heading_dv1 }}</h1>
                          <p class="text_normal _60">{{ section.settings.subtext_dv1 | newline_to_br }}</p>
                          <div data-w-id="e44342a9-1f00-c655-5682-de74d21db010" class="line_wrapper"></div>
                        </div>
                      </div>
                      <div class="druckvermietung_inhalt_section">
                        <div class="druckvermietung_numb">
                          <h1 class="heading_h4">{{ 't63c' | t }}</h1>
                        </div>
                        <div class="druckvermietung_text">
                          <h1 class="heading_h4">{{ section.settings.heading_dv2 }}</h1>
                          <p class="text_normal _60">{{ section.settings.subtext_dv2 | newline_to_br }}</p>
                          <div data-w-id="e44342a9-1f00-c655-5682-de74d21db01a" class="line_wrapper"></div>
                        </div>
                      </div>
                      <div class="druckvermietung_inhalt_section">
                        <div class="druckvermietung_numb">
                          <h1 class="heading_h4">{{ 't65b' | t }}</h1>
                        </div>
                        <div class="druckvermietung_text">
                          <h1 class="heading_h4">{{ section.settings.heading_dv3 }}</h1>
                          <p class="text_normal _60">{{ section.settings.subtext_dv3 | newline_to_br }}</p>
                          <div data-w-id="e44342a9-1f00-c655-5682-de74d21db024" class="line_wrapper"></div>
                        </div>
                      </div>
                      <div class="druckvermietung_inhalt_section">
                        <div class="druckvermietung_numb">
                          <h1 class="heading_h4">{{ 't67a' | t }}</h1>
                        </div>
                        <div class="druckvermietung_text">
                          <h1 class="heading_h4">{{ section.settings.heading_dv4 }}</h1>
                          <p class="text_normal _60">{{ section.settings.subtext_dv4 | newline_to_br }}</p>
                          <div data-w-id="e44342a9-1f00-c655-5682-de74d21db02e" class="line_wrapper unten"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="inhalt_druckvermietung_section">
                    <div class="druckvermietung_1">
                      <div class="druckvermietung_inhalt_section">
                        <div class="druckvermietung_numb">
                          <h1 class="heading_h4">{{ 't699' | t }}</h1>
                        </div>
                        <div class="druckvermietung_text">
                          <h1 class="heading_h4">{{ section.settings.heading_dv5 }}</h1>
                          <p class="text_normal _60">{{ section.settings.subtext_dv5 | newline_to_br }}</p>
                          <div data-w-id="e44342a9-1f00-c655-5682-de74d21db03a" class="line_wrapper"></div>
                        </div>
                      </div>
                      <div class="druckvermietung_inhalt_section">
                        <div class="druckvermietung_numb">
                          <h1 class="heading_h4">{{ 't6b8' | t }}</h1>
                        </div>
                        <div class="druckvermietung_text">
                          <h1 class="heading_h4">{{ section.settings.heading_dv6 }}</h1>
                          <p class="text_normal _60">{{ section.settings.subtext_dv6 | newline_to_br }}</p>
                          <div data-w-id="e44342a9-1f00-c655-5682-de74d21db044" class="line_wrapper"></div>
                        </div>
                      </div>
                      <div class="druckvermietung_inhalt_section">
                        <div class="druckvermietung_numb">
                          <h1 class="heading_h4">{{ 't6d7' | t }}</h1>
                        </div>
                        <div class="druckvermietung_text">
                          <h1 class="heading_h4">{{ section.settings.heading_dv7 }}</h1>
                          <p class="text_normal _60">{{ section.settings.subtext_dv7 | newline_to_br }}</p>
                          <div data-w-id="e44342a9-1f00-c655-5682-de74d21db04e" class="line_wrapper"></div>
                        </div>
                      </div>
                      <div class="druckvermietung_inhalt_section">
                        <div class="druckvermietung_numb">
                          <h1 class="heading_h4">{{ 't6f6' | t }}</h1>
                        </div>
                        <div class="druckvermietung_text">
                          <h1 class="heading_h4">{{ section.settings.heading_dv8 }}</h1>
                          <p class="text_normal _60">{{ section.settings.subtext_dv8 | newline_to_br }}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div data-w-tab="Tab 2" class="w-tab-pane">
                <div class="inhalt_druckvermietung">
                  <div class="inhalt_druckvermietung_section">
                    <div class="druckvermietung_1_kosten">
                      <div class="druckvermietung_inhalt_section">
                        <div class="druckvermietung_numb">
                          <h1 class="heading_h4">{{ 't61d' | t }}</h1>
                        </div>
                        <div class="druckvermietung_text">
                          <h1 class="heading_h4">{{ section.settings.heading_k1 }}</h1>
                          <p class="text_normal _60">{{ section.settings.subtext_k1 | newline_to_br }}</p>
                          <div data-w-id="e44342a9-1f00-c655-5682-de74d21db067" class="line_wrapper"></div>
                        </div>
                      </div>
                      <div class="druckvermietung_inhalt_section">
                        <div class="druckvermietung_numb">
                          <h1 class="heading_h4">{{ 't63c' | t }}</h1>
                        </div>
                        <div class="druckvermietung_text">
                          <h1 class="heading_h4">{{ section.settings.heading_k2 }}</h1>
                          <p class="text_normal _60">{{ section.settings.subtext_k2 | newline_to_br }}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="inhalt_druckvermietung_section">
                    <div class="druckvermietung_1">
                      <div class="druckvermietung_inhalt_section">
                        <div class="druckvermietung_numb">
                          <h1 class="heading_h4">{{ 't65b' | t }}</h1>
                        </div>
                        <div class="druckvermietung_text">
                          <h1 class="heading_h4">{{ section.settings.heading_k3 }}</h1>
                          <p class="text_normal _60">{{ section.settings.subtext_k3 | newline_to_br }}</p>
                          <div data-w-id="e44342a9-1f00-c655-5682-de74d21db07c" class="line_wrapper"></div>
                        </div>
                      </div>
                      <div class="druckvermietung_inhalt_section">
                        <div class="druckvermietung_numb">
                          <h1 class="heading_h4">{{ 't67a' | t }}</h1>
                        </div>
                        <div class="druckvermietung_text">
                          <h1 class="heading_h4">{{ section.settings.heading_k4 }}</h1>
                          <p class="text_normal _60">{{ section.settings.subtext_k4 | newline_to_br }}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    

<script>var currentSection = document.currentScript.closest('.shopify-section');currentSection.setAttribute("class","druckvermietung_wrapper_little");</script>
        
{% schema %}
{
  "name": "Druckervermietung",
  "tag": "div",
  "class": "druckvermietung_wrapper_little",
  "settings": [
    {
      "type": "text",
      "id": "text_button_oben",
      "label": "Text-Button-Oben",
      "default": "Nutzungsvereinbarung"
    },
    {
      "type": "text",
      "id": "text_button1",
      "label": "Text-Button1",
      "default": "Ablauf"
    },
    {
      "type": "text",
      "id": "text_button2",
      "label": "Text-Button2",
      "default": "Kosten"
    },
    {
      "type": "text",
      "id": "heading_dv1",
      "label": "Heading-DV1",
      "default": "Kennenlernen und Einweisung"
    },
    {
      "type": "text",
      "id": "heading_dv2",
      "label": "Heading-DV2",
      "default": "Ausweiskopie"
    },
    {
      "type": "text",
      "id": "heading_dv3",
      "label": "Heading-DV3",
      "default": "Unterzeichnung des Mietvertrags"
    },
    {
      "type": "text",
      "id": "heading_dv4",
      "label": "Heading-DV4",
      "default": "Abholung des Druckers bei Prinjekt"
    },
    {
      "type": "text",
      "id": "heading_dv5",
      "label": "Heading-DV5",
      "default": "Vereinbarte Mietdauer"
    },
    {
      "type": "text",
      "id": "heading_dv6",
      "label": "Heading-DV6",
      "default": "Telefonische Reparaturhilfe"
    },
    {
      "type": "text",
      "id": "heading_dv7",
      "label": "Heading-DV7",
      "default": "Abgabe der Drucker oder Kauf"
    },
    {
      "type": "text",
      "id": "heading_dv8",
      "label": "Heading-DV8",
      "default": "Rückgabe der Mietkaution"
    },
    {
      "type": "text",
      "id": "heading_k1",
      "label": "Heading-K1",
      "default": "Kosten im ersten Monat"
    },
    {
      "type": "text",
      "id": "heading_k2",
      "label": "Heading-K2",
      "default": "Kosten im zweiten Monat"
    },
    {
      "type": "text",
      "id": "heading_k3",
      "label": "Heading-K3",
      "default": "Kosten im dritten Monat "
    },
    {
      "type": "text",
      "id": "heading_k4",
      "label": "Heading-K4",
      "default": "Kosten vom 4. Monat bis zum des "
    },
    {
      "type": "textarea",
      "id": "heading",
      "label": "Heading",
      "default": "Druckervermietung"
    },
    {
      "type": "textarea",
      "id": "subtext",
      "label": "Subtext",
      "default": "Bei uns können Sie nicht nur Ihre Objekte drucken lassen sondern auch ganz schnell & einfach einen unserer Drucker mieten. "
    },
    {
      "type": "textarea",
      "id": "subtext_dv1",
      "label": "Subtext-DV1",
      "default": "Bei unserem Kennenlernen erhalten Sie eine umfassende Einweisung in die Nutzung unserer Produkte."
    },
    {
      "type": "textarea",
      "id": "subtext_dv2",
      "label": "Subtext-DV2",
      "default": "Wir fertigen daraufhin eine Kopie Ihres Ausweises an, um Ihre Identität und Adressdaten überprüfen zu können."
    },
    {
      "type": "textarea",
      "id": "subtext_dv3",
      "label": "Subtext-DV3",
      "default": "Die Unterzeichnung des Mietvertrags erfolgt nach Abschluss der Verhandlungen und der Klärung aller Details ."
    },
    {
      "type": "textarea",
      "id": "subtext_dv4",
      "label": "Subtext-DV4",
      "default": "Die Abholung des Druckers bei Prinjekt kann nach Terminabsprache direkt bei uns vor Ort in Hannover erzeugen."
    },
    {
      "type": "textarea",
      "id": "subtext_dv5",
      "label": "Subtext-DV5",
      "default": "Sie erhalten Ihren Drucker über die vereinbarte Mietdauer und können diesen mit zu Ihnen nach Hause negmen ."
    },
    {
      "type": "textarea",
      "id": "subtext_dv6",
      "label": "Subtext-DV6",
      "default": "Bei Problemen bieten wir telefonische Reparaturhilfe an, um Ihnen schnellstmöglich Unterstützung zu bieten."
    },
    {
      "type": "textarea",
      "id": "subtext_dv7",
      "label": "Subtext-DV7",
      "default": "Die Abgabe der Drucker erfolgt nach Ablauf der Mietdauer oder bei Kaufentscheidung durch den Kunden."
    },
    {
      "type": "textarea",
      "id": "subtext_dv8",
      "label": "Subtext-DV8",
      "default": "Die Rückgabe der Mietkaution erfolgt innerhalb von 7  Werktagen nach Rückgabe des Druckers und Überprüfung des Zustands."
    },
    {
      "type": "textarea",
      "id": "subtext_k1",
      "label": "Subtext-K1",
      "default": "15% Zahlung des Neuwerts des Druckers100€ Kaution (Rückgabe bei Einwandfreier Funktion)"
    },
    {
      "type": "textarea",
      "id": "subtext_k2",
      "label": "Subtext-K2",
      "default": "10% Zahlung des Neuwerts des Druckers"
    },
    {
      "type": "textarea",
      "id": "subtext_k3",
      "label": "Subtext-K3",
      "default": "10% Zahlung des Neuwerts des Druckers"
    },
    {
      "type": "textarea",
      "id": "subtext_k4",
      "label": "Subtext-K4",
      "default": "08% Zahlung des Neuwerts des Druckers"
    },
    {
      "type": "url",
      "id": "datei_einfgen",
      "label": "Datei einfügen"
    },
    {
      "type": "text",
      "id": "datei_einfgen_text",
      "label": "Datei einfügen Text",
      "default": "{{ section.settings.text_button_oben }}"
    }
  ]
}
{% endschema %}