
      <div class="faq_oben">
        <h2 letters-slide-up-hero="" text-split="" class="heading_h2">{{ section.settings.heading }}</h2>
      </div>
      <div class="faq_fragen">
        <div class="toogle-max-w">
          <div data-hover="false" data-delay="300" data-w-id="dc328a00-419a-29af-d1df-7b99729b9081" class="toggle-main w-dropdown">
            <div class="dropdown-toggle w-dropdown-toggle">
              <div class="toggle-icon">
                <div data-w-id="dc328a00-419a-29af-d1df-7b99729b9084" class="icon w-embed"><svg width="24" height="24" viewBox="0 0 24 24" fill="currentcolor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 6L12 18" stroke="currentcolor" stroke-width="1.5" stroke-linecap="round"></path>
                    <path d="M18 12L6 12" stroke="currentcolor" stroke-width="1.5" stroke-linecap="round"></path>
                  </svg></div>
              </div>
              <div class="qa-text">{{ section.settings.heading_f1 }}</div>
            </div>
            <nav class="toggle-content w-dropdown-list">
              <p class="text_fragen">{{ section.settings.textarea_f1 | newline_to_br }}</p>
              <div class="button_q-a">
                <a href="{{ pages["about"].url }}" class="button w-button">{{ 'tn2d62a107' | t }}</a>
              </div>
            </nav>
          </div>
          <div data-hover="false" data-delay="300" data-w-id="dc328a00-419a-29af-d1df-7b99729b908d" class="toggle-main w-dropdown">
            <div class="dropdown-toggle w-dropdown-toggle">
              <div class="toggle-icon">
                <div class="icon w-embed"><svg width="24" height="24" viewBox="0 0 24 24" fill="currentcolor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 6L12 18" stroke="currentcolor" stroke-width="1.5" stroke-linecap="round"></path>
                    <path d="M18 12L6 12" stroke="currentcolor" stroke-width="1.5" stroke-linecap="round"></path>
                  </svg></div>
              </div>
              <div class="qa-text">{{ section.settings.heading_f2 }}</div>
            </div>
            <nav class="toggle-content w-dropdown-list">
              <p class="text_fragen">{{ section.settings.textarea_f2 | newline_to_br }}</p>
              <div class="button_q-a">
                <a href="#" class="button w-button">{{ 'tn39693501' | t }}</a>
              </div>
            </nav>
          </div>
          <div data-hover="false" data-delay="300" data-w-id="dc328a00-419a-29af-d1df-7b99729b9099" class="toggle-main w-dropdown">
            <div class="dropdown-toggle w-dropdown-toggle">
              <div class="toggle-icon">
                <div class="icon w-embed"><svg width="24" height="24" viewBox="0 0 24 24" fill="currentcolor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 6L12 18" stroke="currentcolor" stroke-width="1.5" stroke-linecap="round"></path>
                    <path d="M18 12L6 12" stroke="currentcolor" stroke-width="1.5" stroke-linecap="round"></path>
                  </svg></div>
              </div>
              <div class="qa-text">{{ section.settings.heading_f3 }}</div>
            </div>
            <nav class="toggle-content w-dropdown-list">
              <p class="text_fragen">{{ section.settings.textarea_f3 | newline_to_br }}</p>
            </nav>
          </div>
          <div data-hover="false" data-delay="300" data-w-id="dc328a00-419a-29af-d1df-7b99729b90a5" class="toggle-main w-dropdown">
            <div class="dropdown-toggle w-dropdown-toggle">
              <div class="toggle-icon">
                <div class="icon w-embed"><svg width="24" height="24" viewBox="0 0 24 24" fill="currentcolor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 6L12 18" stroke="currentcolor" stroke-width="1.5" stroke-linecap="round"></path>
                    <path d="M18 12L6 12" stroke="currentcolor" stroke-width="1.5" stroke-linecap="round"></path>
                  </svg></div>
              </div>
              <div class="qa-text">{{ section.settings.heading_f4 }}</div>
            </div>
            <nav class="toggle-content w-dropdown-list">
              <p class="text_fragen">{{ section.settings.textarea_f4 | newline_to_br }}</p>
              <div class="button_q-a">
                <a href="{{ pages["about"].url }}" class="button w-button">{{ 'tn2d62a107' | t }}</a>
              </div>
            </nav>
          </div>
          <div data-hover="false" data-delay="300" data-w-id="dc328a00-419a-29af-d1df-7b99729b90ba" class="toggle-main w-dropdown">
            <div class="dropdown-toggle w-dropdown-toggle">
              <div class="toggle-icon">
                <div class="icon w-embed"><svg width="24" height="24" viewBox="0 0 24 24" fill="currentcolor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 6L12 18" stroke="currentcolor" stroke-width="1.5" stroke-linecap="round"></path>
                    <path d="M18 12L6 12" stroke="currentcolor" stroke-width="1.5" stroke-linecap="round"></path>
                  </svg></div>
              </div>
              <div class="qa-text">{{ section.settings.heading_f5 }}</div>
            </div>
            <nav class="toggle-content w-dropdown-list">
              <p class="text_fragen">{{ section.settings.textarea_f5 | newline_to_br }}</p>
              <div class="button_q-a">
                <a href="{{ pages["versand"].url }}" class="button w-button">{{ 'tn2d62a107' | t }}</a>
              </div>
            </nav>
          </div>
          <div data-hover="false" data-delay="300" data-w-id="dc328a00-419a-29af-d1df-7b99729b90c6" class="toggle-main w-dropdown">
            <div class="dropdown-toggle w-dropdown-toggle">
              <div class="toggle-icon">
                <div class="icon w-embed"><svg width="24" height="24" viewBox="0 0 24 24" fill="currentcolor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 6L12 18" stroke="currentcolor" stroke-width="1.5" stroke-linecap="round"></path>
                    <path d="M18 12L6 12" stroke="currentcolor" stroke-width="1.5" stroke-linecap="round"></path>
                  </svg></div>
              </div>
              <div class="qa-text">{{ section.settings.heading_f6 }}</div>
            </div>
            <nav class="toggle-content w-dropdown-list">
              <p class="text_fragen">{{ section.settings.textarea_f6 | newline_to_br }}</p>
            </nav>
          </div>
        </div>
      </div>
    

<script>var currentSection = document.currentScript.closest('.shopify-section');currentSection.setAttribute("class","faq_wrapper");</script>
        
{% schema %}
{
  "name": "FAQ-Home",
  "tag": "div",
  "class": "faq_wrapper",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "FAQ"
    },
    {
      "type": "text",
      "id": "heading_f1",
      "label": "Heading-F1",
      "default": "Was ist Prinjekt?"
    },
    {
      "type": "text",
      "id": "heading_f2",
      "label": "Heading-F2",
      "default": "Welches Material benutzt Ihr?"
    },
    {
      "type": "text",
      "id": "heading_f3",
      "label": "Heading-F3",
      "default": "Wie kann ich meinen Auftrag aufgeben?"
    },
    {
      "type": "text",
      "id": "heading_f4",
      "label": "Heading-F4",
      "default": "Wo habt Ihr Euren Sitzt?"
    },
    {
      "type": "text",
      "id": "heading_f5",
      "label": "Heading-F5",
      "default": "Wohin versendet Ihr alles?"
    },
    {
      "type": "text",
      "id": "heading_f6",
      "label": "Heading-F6",
      "default": "Achtet Ihr auf die Nachhaltigkeit?"
    },
    {
      "type": "richtext",
      "id": "textarea_f1",
      "label": "Textarea-F1"
    },
    {
      "type": "richtext",
      "id": "textarea_f2",
      "label": "Textarea-F2"
    },
    {
      "type": "richtext",
      "id": "textarea_f3",
      "label": "Textarea-F3"
    },
    {
      "type": "richtext",
      "id": "textarea_f4",
      "label": "Textarea-F4"
    },
    {
      "type": "richtext",
      "id": "textarea_f5",
      "label": "Textarea-F5"
    },
    {
      "type": "richtext",
      "id": "textarea_f6",
      "label": "Textarea-F6"
    }
  ]
}
{% endschema %}