
      <div class="gallery_home_inhalt">
        <div id="w-node-_7208a123-dacb-5d5b-2659-5f1733ebd4ea-33ebd4e8" class="gradient_home_gallery"></div>{%- if section.settings.image_g1 == nil -%}<img class="img_gallery_home" src="{{ 'prinjekt_work_13.webp' | asset_url }}" alt="Wir setzen Ihren 3D-Druck um" id="w-node-_7208a123-dacb-5d5b-2659-5f1733ebd4eb-33ebd4e8" loading="lazy">{%- else -%}<img class="img_gallery_home" src="{{ section.settings.image_g1.src | img_url: 'master' }}" alt="{{ section.settings.image_g1.alt | escape }}" id="w-node-_7208a123-dacb-5d5b-2659-5f1733ebd4eb-33ebd4e8" loading="lazy" srcset="{{ section.settings.image_g1 | img_url: '1920x' }} 1920w,{{ section.settings.image_g1 | img_url: '1600x' }} 1600w,{{ section.settings.image_g1 | img_url: '1366x' }} 1366w,{{ section.settings.image_g1 | img_url: '1024x' }} 1024w,{{ section.settings.image_g1 | img_url: '768x' }} 768w,{{ section.settings.image_g1 | img_url: '640x' }} 640w">{%- endif -%}{%- if section.settings.image_g2 == nil -%}<img class="img_gallery_home" src="{{ 'prinjekt_work_9.webp' | asset_url }}" alt="Prinjekt 3D-Druck aus Hannover" id="w-node-_7208a123-dacb-5d5b-2659-5f1733ebd4ec-33ebd4e8" loading="lazy">{%- else -%}<img class="img_gallery_home" src="{{ section.settings.image_g2.src | img_url: 'master' }}" alt="{{ section.settings.image_g2.alt | escape }}" id="w-node-_7208a123-dacb-5d5b-2659-5f1733ebd4ec-33ebd4e8" loading="lazy" srcset="{{ section.settings.image_g2 | img_url: '1920x' }} 1920w,{{ section.settings.image_g2 | img_url: '1600x' }} 1600w,{{ section.settings.image_g2 | img_url: '1366x' }} 1366w,{{ section.settings.image_g2 | img_url: '1024x' }} 1024w,{{ section.settings.image_g2 | img_url: '768x' }} 768w,{{ section.settings.image_g2 | img_url: '640x' }} 640w">{%- endif -%}{%- if section.settings.image_g3 == nil -%}<img class="img_gallery_home" src="{{ 'prinjekt_work_hannover_1.webp' | asset_url }}" alt="Wir produzieren jede Größe von Teilen mit unserem 3D-Druck" id="w-node-_7208a123-dacb-5d5b-2659-5f1733ebd4ed-33ebd4e8" loading="lazy">{%- else -%}<img class="img_gallery_home" src="{{ section.settings.image_g3.src | img_url: 'master' }}" alt="{{ section.settings.image_g3.alt | escape }}" id="w-node-_7208a123-dacb-5d5b-2659-5f1733ebd4ed-33ebd4e8" loading="lazy" srcset="{{ section.settings.image_g3 | img_url: '1920x' }} 1920w,{{ section.settings.image_g3 | img_url: '1600x' }} 1600w,{{ section.settings.image_g3 | img_url: '1366x' }} 1366w,{{ section.settings.image_g3 | img_url: '1024x' }} 1024w,{{ section.settings.image_g3 | img_url: '768x' }} 768w,{{ section.settings.image_g3 | img_url: '640x' }} 640w">{%- endif -%}{%- if section.settings.image_g4 == nil -%}<img class="img_gallery_home" src="{{ 'prinjekt_work_10.webp' | asset_url }}" alt="Bestelle jetzt Deinen 3D-Druck aus Hannover" id="w-node-_7208a123-dacb-5d5b-2659-5f1733ebd4ee-33ebd4e8" loading="lazy">{%- else -%}<img class="img_gallery_home" src="{{ section.settings.image_g4.src | img_url: 'master' }}" alt="{{ section.settings.image_g4.alt | escape }}" id="w-node-_7208a123-dacb-5d5b-2659-5f1733ebd4ee-33ebd4e8" loading="lazy" srcset="{{ section.settings.image_g4 | img_url: '1920x' }} 1920w,{{ section.settings.image_g4 | img_url: '1600x' }} 1600w,{{ section.settings.image_g4 | img_url: '1366x' }} 1366w,{{ section.settings.image_g4 | img_url: '1024x' }} 1024w,{{ section.settings.image_g4 | img_url: '768x' }} 768w,{{ section.settings.image_g4 | img_url: '640x' }} 640w">{%- endif -%}{%- if section.settings.image_g5 == nil -%}<img class="img_gallery_home" src="{{ 'prinjekt_work_3d_1.webp' | asset_url }}" alt="Individuelle 3D-Druck Anfertigungen aus Hannover" id="w-node-_7208a123-dacb-5d5b-2659-5f1733ebd4ef-33ebd4e8" loading="lazy">{%- else -%}<img class="img_gallery_home" src="{{ section.settings.image_g5.src | img_url: 'master' }}" alt="{{ section.settings.image_g5.alt | escape }}" id="w-node-_7208a123-dacb-5d5b-2659-5f1733ebd4ef-33ebd4e8" loading="lazy" srcset="{{ section.settings.image_g5 | img_url: '1920x' }} 1920w,{{ section.settings.image_g5 | img_url: '1600x' }} 1600w,{{ section.settings.image_g5 | img_url: '1366x' }} 1366w,{{ section.settings.image_g5 | img_url: '1024x' }} 1024w,{{ section.settings.image_g5 | img_url: '768x' }} 768w,{{ section.settings.image_g5 | img_url: '640x' }} 640w">{%- endif -%}{%- if section.settings.image_g6 == nil -%}<img class="img_gallery_home" src="{{ 'prinjekt_work_3d-druck_1.webp' | asset_url }}" alt="Prinjekt produziert hochwertigen 3D-Druck aus Hannover" id="w-node-_7208a123-dacb-5d5b-2659-5f1733ebd4f0-33ebd4e8" loading="lazy">{%- else -%}<img class="img_gallery_home" src="{{ section.settings.image_g6.src | img_url: 'master' }}" alt="{{ section.settings.image_g6.alt | escape }}" id="w-node-_7208a123-dacb-5d5b-2659-5f1733ebd4f0-33ebd4e8" loading="lazy" srcset="{{ section.settings.image_g6 | img_url: '1920x' }} 1920w,{{ section.settings.image_g6 | img_url: '1600x' }} 1600w,{{ section.settings.image_g6 | img_url: '1366x' }} 1366w,{{ section.settings.image_g6 | img_url: '1024x' }} 1024w,{{ section.settings.image_g6 | img_url: '768x' }} 768w,{{ section.settings.image_g6 | img_url: '640x' }} 640w">{%- endif -%}{%- if section.settings.image_g7 == nil -%}<img class="img_gallery_home" src="{{ 'prinjekt_work_serienfertigung_1.webp' | asset_url }}" alt="Prinjekt bietet hochwertigen und einzigartigen 3D-Druck an" id="w-node-_7208a123-dacb-5d5b-2659-5f1733ebd4f1-33ebd4e8" loading="lazy">{%- else -%}<img class="img_gallery_home" src="{{ section.settings.image_g7.src | img_url: 'master' }}" alt="{{ section.settings.image_g7.alt | escape }}" id="w-node-_7208a123-dacb-5d5b-2659-5f1733ebd4f1-33ebd4e8" loading="lazy" srcset="{{ section.settings.image_g7 | img_url: '1920x' }} 1920w,{{ section.settings.image_g7 | img_url: '1600x' }} 1600w,{{ section.settings.image_g7 | img_url: '1366x' }} 1366w,{{ section.settings.image_g7 | img_url: '1024x' }} 1024w,{{ section.settings.image_g7 | img_url: '768x' }} 768w,{{ section.settings.image_g7 | img_url: '640x' }} 640w">{%- endif -%}
      </div>
      <a href="{{ pages["gallerie"].url }}" data-w-id="7208a123-dacb-5d5b-2659-5f1733ebd4f2" class="button w-button">{{ section.settings.button_text }}</a>
    

<script>var currentSection = document.currentScript.closest('.shopify-section');currentSection.setAttribute("class","gallery_home_wrapper");</script>
        
{% schema %}
{
  "name": "Gallery-Home",
  "tag": "div",
  "class": "gallery_home_wrapper",
  "settings": [
    {
      "type": "text",
      "id": "button_text",
      "label": "Button-Text",
      "default": "Mehr Beispiele ansehen"
    },
    {
      "type": "image_picker",
      "id": "image_g1",
      "label": "Image-G1"
    },
    {
      "type": "image_picker",
      "id": "image_g2",
      "label": "Image-G2"
    },
    {
      "type": "image_picker",
      "id": "image_g3",
      "label": "Image-G3"
    },
    {
      "type": "image_picker",
      "id": "image_g4",
      "label": "Image-G4"
    },
    {
      "type": "image_picker",
      "id": "image_g5",
      "label": "Image-G5"
    },
    {
      "type": "image_picker",
      "id": "image_g6",
      "label": "Image-G6"
    },
    {
      "type": "image_picker",
      "id": "image_g7",
      "label": "Image-G7"
    }
  ]
}
{% endschema %}