
      <div class="numbers_right_home">
        <div id="w-node-_40c89b76-bd31-69d6-50bc-3259299d19d0-299d19ce" data-w-id="40c89b76-bd31-69d6-50bc-3259299d19d0" class="card1_home left top">
          <div id="w-node-_40c89b76-bd31-69d6-50bc-3259299d19d1-299d19ce" class="card_home_zahlen_inhalt">
            <div class="card_counter_oben">
              <div class="counter orange">{{ section.settings.number_1 }}</div>
              <div class="counter-num orange">{{ section.settings.number_1_ }}</div>
            </div>
            <div class="heading_h3">{{ section.settings.number_1_text | newline_to_br }}</div>
          </div>{%- if section.settings.image_n1 == nil -%}<img class="img_home_card_zahlen" src="{{ 'prnjekt_3d_drucker.webp' | asset_url }}" alt="Wir durften mittlerweile über 7000 Projekte drucken" id="w-node-_40c89b76-bd31-69d6-50bc-3259299d19d9-299d19ce" loading="lazy">{%- else -%}<img class="img_home_card_zahlen" src="{{ section.settings.image_n1.src | img_url: 'master' }}" alt="{{ section.settings.image_n1.alt | escape }}" id="w-node-_40c89b76-bd31-69d6-50bc-3259299d19d9-299d19ce" loading="lazy" srcset="{{ section.settings.image_n1 | img_url: '1920x' }} 1920w,{{ section.settings.image_n1 | img_url: '1600x' }} 1600w,{{ section.settings.image_n1 | img_url: '1366x' }} 1366w,{{ section.settings.image_n1 | img_url: '1024x' }} 1024w,{{ section.settings.image_n1 | img_url: '768x' }} 768w,{{ section.settings.image_n1 | img_url: '640x' }} 640w">{%- endif -%}
        </div>
        <div id="w-node-_40c89b76-bd31-69d6-50bc-3259299d19da-299d19ce" data-w-id="40c89b76-bd31-69d6-50bc-3259299d19da" class="card1_home top right">
          <div id="w-node-_40c89b76-bd31-69d6-50bc-3259299d19db-299d19ce" class="card_home_zahlen_inhalt">
            <div class="card_counter_oben">
              <div class="counter orange">{{ section.settings.number_2 }}</div>
              <div class="counter-num orange">{{ section.settings.number_2_ }}</div>
            </div>
            <p class="heading_h3">{{ section.settings.number_2_text }}</p>
          </div>{%- if section.settings.image_n2 == nil -%}<img class="img_home_card_zahlen" src="{{ 'prnjekt_3d_drucker_drucken.webp' | asset_url }}" alt="Unsere Teile werden hochwertig in Deutschland produziert" id="w-node-_40c89b76-bd31-69d6-50bc-3259299d19e3-299d19ce" loading="lazy">{%- else -%}<img class="img_home_card_zahlen" src="{{ section.settings.image_n2.src | img_url: 'master' }}" alt="{{ section.settings.image_n2.alt | escape }}" id="w-node-_40c89b76-bd31-69d6-50bc-3259299d19e3-299d19ce" loading="lazy" srcset="{{ section.settings.image_n2 | img_url: '1920x' }} 1920w,{{ section.settings.image_n2 | img_url: '1600x' }} 1600w,{{ section.settings.image_n2 | img_url: '1366x' }} 1366w,{{ section.settings.image_n2 | img_url: '1024x' }} 1024w,{{ section.settings.image_n2 | img_url: '768x' }} 768w,{{ section.settings.image_n2 | img_url: '640x' }} 640w">{%- endif -%}
        </div>
        <div id="w-node-_40c89b76-bd31-69d6-50bc-3259299d19e4-299d19ce" data-w-id="40c89b76-bd31-69d6-50bc-3259299d19e4" class="card1_home left bottom">
          <div id="w-node-_40c89b76-bd31-69d6-50bc-3259299d19e5-299d19ce" class="card_home_zahlen_inhalt">
            <div class="card_counter_oben">
              <div class="counter orange">{{ section.settings.number_3 }}</div>
              <div class="counter-num orange">{{ section.settings.number_3_ }}</div>
            </div>
            <p class="heading_h3">{{ section.settings.number_3_text }}</p>
          </div>{%- if section.settings.image_n3 == nil -%}<img class="img_home_card_zahlen _3" src="{{ 'prnjekt_viele_drucker.webp' | asset_url }}" alt="In unserer Produktion stehen mittlerweile über 90 verschiedene 3D-Drucker" id="w-node-_40c89b76-bd31-69d6-50bc-3259299d19ed-299d19ce" loading="lazy">{%- else -%}<img class="img_home_card_zahlen _3" src="{{ section.settings.image_n3.src | img_url: 'master' }}" alt="{{ section.settings.image_n3.alt | escape }}" id="w-node-_40c89b76-bd31-69d6-50bc-3259299d19ed-299d19ce" loading="lazy" srcset="{{ section.settings.image_n3 | img_url: '1920x' }} 1920w,{{ section.settings.image_n3 | img_url: '1600x' }} 1600w,{{ section.settings.image_n3 | img_url: '1366x' }} 1366w,{{ section.settings.image_n3 | img_url: '1024x' }} 1024w,{{ section.settings.image_n3 | img_url: '768x' }} 768w,{{ section.settings.image_n3 | img_url: '640x' }} 640w">{%- endif -%}
        </div>
        <div id="w-node-_40c89b76-bd31-69d6-50bc-3259299d19ee-299d19ce" data-w-id="40c89b76-bd31-69d6-50bc-3259299d19ee" class="card1_home right bottom">
          <div id="w-node-_40c89b76-bd31-69d6-50bc-3259299d19ef-299d19ce" class="card_home_zahlen_inhalt">
            <div class="card_counter_oben">
              <div class="counter orange">{{ section.settings.number_4 }}</div>
              <div class="counter-num orange">{{ section.settings.number_4_ }}</div>
            </div>
            <p class="heading_h3">{{ section.settings.number_4_text | newline_to_br }}</p>
          </div>{%- if section.settings.image_n4 == nil -%}<img class="img_home_card_zahlen _4" src="{{ 'prinjekt_druck_hannover.webp' | asset_url }}" alt="Über 800 Kunden waren schon mit unseren 3D-Drucks zufrieden" id="w-node-_40c89b76-bd31-69d6-50bc-3259299d19f7-299d19ce" loading="lazy">{%- else -%}<img class="img_home_card_zahlen _4" src="{{ section.settings.image_n4.src | img_url: 'master' }}" alt="{{ section.settings.image_n4.alt | escape }}" id="w-node-_40c89b76-bd31-69d6-50bc-3259299d19f7-299d19ce" loading="lazy" srcset="{{ section.settings.image_n4 | img_url: '1920x' }} 1920w,{{ section.settings.image_n4 | img_url: '1600x' }} 1600w,{{ section.settings.image_n4 | img_url: '1366x' }} 1366w,{{ section.settings.image_n4 | img_url: '1024x' }} 1024w,{{ section.settings.image_n4 | img_url: '768x' }} 768w,{{ section.settings.image_n4 | img_url: '640x' }} 640w">{%- endif -%}
        </div>
      </div>
    

<script>var currentSection = document.currentScript.closest('.shopify-section');currentSection.setAttribute("class","numbers_wrapper_home");</script>
        
{% schema %}
{
  "name": "Numbers_Home",
  "tag": "div",
  "class": "numbers_wrapper_home",
  "settings": [
    {
      "type": "text",
      "id": "number_1",
      "label": "Number-1",
      "default": "7000"
    },
    {
      "type": "text",
      "id": "number_1_",
      "label": "Number-1-+",
      "default": "+"
    },
    {
      "type": "text",
      "id": "number_2",
      "label": "Number-2",
      "default": "2"
    },
    {
      "type": "text",
      "id": "number_2_",
      "label": "Number-2-+",
      "default": "M"
    },
    {
      "type": "text",
      "id": "number_2_text",
      "label": "Number-2-Text",
      "default": "Teile Produziert"
    },
    {
      "type": "text",
      "id": "number_3",
      "label": "Number-3",
      "default": "90"
    },
    {
      "type": "text",
      "id": "number_3_",
      "label": "Number-3-+",
      "default": "+"
    },
    {
      "type": "text",
      "id": "number_3_text",
      "label": "Number-3-text",
      "default": "Verschiedene 3D-Drucker"
    },
    {
      "type": "text",
      "id": "number_4",
      "label": "Number-4",
      "default": "800"
    },
    {
      "type": "text",
      "id": "number_4_",
      "label": "Number-4-+",
      "default": "+"
    },
    {
      "type": "textarea",
      "id": "number_1_text",
      "label": "Number-1-Text",
      "default": "Umgesetzte Projekte"
    },
    {
      "type": "textarea",
      "id": "number_4_text",
      "label": "Number-4-text",
      "default": "Zufriedene Kunden"
    },
    {
      "type": "image_picker",
      "id": "image_n1",
      "label": "Image_N1"
    },
    {
      "type": "image_picker",
      "id": "image_n2",
      "label": "Image-N2"
    },
    {
      "type": "image_picker",
      "id": "image_n3",
      "label": "Image-N3"
    },
    {
      "type": "image_picker",
      "id": "image_n4",
      "label": "Image-N4"
    }
  ]
}
{% endschema %}