
      <div class="logo_carousel bilder">
        <div class="logo_carousel_wrapper bilder">
          <div class="logo_carousel_right bilder">
            <div class="card">
              <div lumious-ticker-pause="false" lumious-ticker="true" lumious-ticker-speed="20" class="ticker has-horizontal-fade">
                <div lumious-ticker-content="true" class="ticker-content"><img class="ticker-logo bilder" src="{{ 'prinjekt_work_13.webp' | asset_url }}" width="100" height="40" alt="Arbeiten Prinjekt Hannover" loading="lazy" href="{{ section.settings.img_1 }}"><img class="ticker-logo bilder" src="{{ 'prinjekt_work_12.webp' | asset_url }}" width="53" height="40" alt="3D Druck Service aus Deutschland " loading="lazy" href="{{ section.settings.img_2 }}"><img class="ticker-logo bilder" src="{{ 'prinjekt_work_11.webp' | asset_url }}" width="182" height="40" alt="Hochwertiger 3D Druck Service" loading="lazy" href="{{ section.settings.img_3 }}"><img class="ticker-logo bilder" src="{{ 'prinjekt_work_8.webp' | asset_url }}" width="52" height="40" alt="Individueller 3D Druck" loading="lazy" href="{{ section.settings.img_4 }}"><img class="ticker-logo bilder" src="{{ 'prinjekt_work_7.webp' | asset_url }}" width="40" height="40" alt="Hochwertiger 3D-Druck" loading="lazy" href="{{ section.settings.img_5 }}"><img class="ticker-logo bilder" src="{{ 'prinjekt_work_9.webp' | asset_url }}" width="213" height="40" alt="3d drucken lassen Deutschland" loading="lazy" href="{{ section.settings.img_6 }}"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    

<script>var currentSection = document.currentScript.closest('.shopify-section');currentSection.setAttribute("class","slider_gallery_wrapper");</script>
        
{% schema %}
{
  "name": "SLIDER-Geschäftskunden",
  "tag": "div",
  "class": "slider_gallery_wrapper",
  "settings": [
    {
      "type": "url",
      "id": "img_1",
      "label": "IMG-1"
    },
    {
      "type": "text",
      "id": "img_1_text",
      "label": "IMG-1 Text",
      "default": "IMG-1"
    },
    {
      "type": "url",
      "id": "img_2",
      "label": "IMG-2"
    },
    {
      "type": "text",
      "id": "img_2_text",
      "label": "IMG-2 Text",
      "default": "IMG-2"
    },
    {
      "type": "url",
      "id": "img_3",
      "label": "IMG-3"
    },
    {
      "type": "text",
      "id": "img_3_text",
      "label": "IMG-3 Text",
      "default": "IMG-3"
    },
    {
      "type": "url",
      "id": "img_4",
      "label": "IMG-4"
    },
    {
      "type": "text",
      "id": "img_4_text",
      "label": "IMG-4 Text",
      "default": "IMG-4"
    },
    {
      "type": "url",
      "id": "img_5",
      "label": "IMG-5"
    },
    {
      "type": "text",
      "id": "img_5_text",
      "label": "IMG-5 Text",
      "default": "IMG-5"
    },
    {
      "type": "url",
      "id": "img_6",
      "label": "IMG-6"
    },
    {
      "type": "text",
      "id": "img_6_text",
      "label": "IMG-6 Text",
      "default": "IMG-6"
    }
  ]
}
{% endschema %}